<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ajaxMapper">
	<!-- <cache-ref namespace=""/> -->

	<select id="selectNickname" parameterType="string"
		resultType="string">
		SELECT MEMBER_NICKNAME
		FROM MEMBER
		WHERE MEMBER_DEL_FL = 'N'
		AND MEMBER_EMAIL = #{email}
	</select>

	<!-- parameterType : 전달 받은 파라미터의 자료형 작성 (선택사항) 미 작성 시 TypeHandler가 알아서 처리 -->
	<select id="selecMemberTel" resultType="string">
		SELECT MEMBER_TEL
		FROM
		MEMBER
		WHERE MEMBER_DEL_FL = 'N'
		AND
		MEMBER_NICKNAME = #{nickname}
	</select>
	<!-- 이메일 중복 검사 -->
	<select id="dupCheckEmail" resultType="string">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_DEL_FL = 'N'
		AND MEMBER_EMAIL = #{email}
	</select>
	<!-- 닉네임 중복 검사 -->
	<select id="dupCheckNickname" resultType="string">
		SELECT COUNT(*)
		FROM
		MEMBER
		WHERE MEMBER_DEL_FL = 'N'
		AND MEMBER_NICK = #{nickname}
	</select>

	<resultMap type="Member" id="member_rm">

		<id property="memberNo" column="MEMBER_NO" />

		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberPw" column="MEMBER_PW" />
		<result property="memberNickname" column="MEMBER_NICKNAME" />
		<result property="memberTel" column="MEMBER_TEL" />
		<result property="memberAddress" column="MEMBER_ADDR" />
		<result property="profileImage" column="PROFILE_IMG" />
		<result property="enrollDate" column="ENROLL_DATE" />
		<result property="memberDeleteFlag" column="MEMBER_DEL_FL" />
		<result property="authority" column="AUTHORITY" />
	</resultMap>

	<!-- 이메일로 회원 정보 조회 -->
	<select id="selectMember" parameterType="Member"
		resultMap="member_rm">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_NICKNAME, MEMBER_TEL,
		NVL(MEMBER_ADDR, '미작성') MEMBER_ADDR,
		TO_CHAR(ENROLL_DATE, 'YYYY"년"
		MM"월", DD"일"') ENROLL_DATE
		FROM MEMBER
		WHERE MEMBER_EMAIL =#{email}
		AND
		MEMBER_DEL_FL = 'N'
	</select>

	<!-- '%${email}%' -->
	<!-- ${email}을 사용한 이유? #{}으로 작성하면 '%'값'%' 형태로 sql이 정상적인 형태가 되지 않기 때문에 '값'을 
		감싸고 있는 '' 제거하기 위해서 -->
	<select id="selectMemberList" parameterType="Member"
		resultMap="member_rm">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_NICKNAME
		FROM MEMBER
		WHERE MEMBER_EMAIL LIKE '%' || #{email} || '%'
		AND MEMBER_DEL_FL = 'N'
	</select>



	<select id="searchQueryList" resultType="map">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_NAME
		FROM (
		SELECT BOARD_NO, BOARD_TITLE, BOARD_NAME, ROWNUM AS RN
		FROM (
		SELECT B.BOARD_NO, B.BOARD_TITLE, BT.BOARD_NAME
		FROM "BOARD" B
		JOIN BOARD_TYPE BT ON B.BOARD_CODE = BT.BOARD_CODE
		WHERE B.BOARD_DEL_FL = 'N'
		AND B.BOARD_TITLE LIKE '%${query}%'
		ORDER BY B.BOARD_NO DESC
		)
		<![CDATA[ WHERE ROWNUM <= 10 ]]>
		)
	</select>
	
</mapper>