<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<!-- Board DTO에 대한 resultMap -->
	<resultMap type="Business" id="business_rm">
		<id property="productNo" column="PRODUCT_NO" />
		<result property="productTitle" column="PRODUCT_TITLE" />
		<result property="productContent" column="PRODUCT_CONTENT" />
		<result property="productCreateDate" column="P_CREATE_DATE" />
		<result property="productPrice" column="PRODUCT_PRICE" />
		<result property="productCount" column="PRODUCT_COUNT" />
		<result property="readCount" column="READ_COUNT" />
		<result property="categoryNo" column="CATEGORY_NO" />
		<result property="deliveryFee" column="DELIVERY_FEE" />
		<result property="categoryName" column="CATEGORY_NAME" />
		<result property="parentCategoryNo" column="PARENT_CATEGORY_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="memberNick" column="MEMBER_NICK" />
		<result property="profileImage" column="PROFILE_IMG" />
		<result property="parentCategoryName" column="PARENT_CATEGORY_NAME" />
		<result property="thumbnail" column="THUMBNAIL" />
		
		<!-- 
			collection 태그: select로 조회된 결과를 컬렉션(List)에 담아 지정된 필드에 세팅 
			property: List를 담을 DTO의 필드명
			select: 실행할 select의 id
			column: 조회 결과 중 지정된 컬럼의 값을 파라미터로 전달
			javaType: List(컬렉션)의 타입을 지정
			ofType: List(컬렉션)의 제네릭(타입 제한) 지정
		-->
		<collection property="optionList" select="selectOptionList"
					column="PRODUCT_NO" javaType="java.util.ArrayList"
					ofType="BusinessOption" />
		<collection property="imageList" select="selectImageList"
					column="PRODUCT_NO" javaType="java.util.ArrayList"
					ofType="Image" />
	</resultMap>
	
	<!-- Image resultMap -->
	<resultMap type="Image" id="image_rm">
		<id property="imageNo" column="IMG_NO" />
		<result property="imagePath" column="IMG_PATH" />
		<result property="imageReName" column="IMG_RENAME" />
		<result property="imageOriginal" column="IMG_ORIGINAL" />
		<result property="imageLevel" column="IMG_LEVEL" />
		<result property="imageType" column="IMG_TYPE" />
		<result property="imageTypeNo" column="IMG_TYPE_NO" />
	</resultMap>
	
	<!-- BusinessOption resultMap -->
	<resultMap type="BusinessOption" id="businessOption_rm">
		<id property="optionNo" column="OPTION_NO" />
		<result property="optionName" column="OPTION_NAME" />
		<result property="productNo" column="PRODUCT_NO" />
	</resultMap>
	
	<!-- Review resultMap -->
	<resultMap type="Review" id="review_rm">
		<id property="reviewNo" column="REVIEW_NO" />
		<result property="reviewContent" column="REVIEW_CONTENT" />
		<result property="reviewStar" column="REVIEW_STAR" />
		<result property="reviewCreatedDate" column="REVIEW_CREATED_DATE" />
		<result property="reviewUpdateDate" column="REVIEW_UPDATE_DATE" />
		<result property="reviewDelFleg" column="REVIEW_DEL_FL" />
		<result property="reviewType" column="REVIEW_TYPE" />
		<result property="reviewTypeNo" column="REVIEW_TYPE_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="orderNo" column="ORDER_NO" />
		
		<result property="memberNick" column="MEMBER_NICK"/>
		<result property="memberProfile" column="MEMBER_PROFILE"/>
		<result property="businessThumbnail" column="BUSINESS_THUMBNAIL"/>
		
		<collection property="imageList" select="selectReviewImageList"
					column="REVIEW_NO" javaType="java.util.ArrayList"
					ofType="Image" />
		<collection property="replyList" select="selectReviewReply"
					column="REVIEW_NO" javaType="java.util.ArrayList"
					ofType="Reply" />
		<collection property="orderDetailList" select="selectOrderDetailList"
					column="ORDER_NO" javaType="java.util.ArrayList"
					ofType="OrderDetail" />
	</resultMap>
	
	<!-- Reply resultMap -->
	<resultMap type="Reply" id="reply_rm">
		<id property="replyNo" column="REPLY_NO" />
		<result property="replyCreatedDate" column="REPLY_CREATE_DATE" />
		<result property="replyDelFlag" column="REPLY_DEL_FL" />
		<result property="replyContent" column="REPLY_CONTENT" />
		<result property="secretReplyStatus" column="SECRET_REPLY_STATUS" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="replyType" column="REPLY_TYPE" />
		<result property="replyTypeNo" column="REPLY_TYPE_NO" />
		<result property="parentNo" column="PARENT_REPLY_NO" />
		
		<result property="memberNick" column="MEMBER_NICK"/>
		
		<result property="thumbnail" column="THUMBNAIL"/>
		
		<collection property="commentList" select="selectReplyComment"
					column="REPLY_NO" javaType="java.util.ArrayList"
					ofType="Reply" />
	</resultMap>
	
	<!-- 주문 resultMap -->
	<resultMap type="Order" id="order_rm">
		<id property="orderNo" column="ORDER_NO" />
		<result property="orderAddress" column="DELIVERY_ADDR" />
		<result property="trackingNo" column="TRACKING_NO" />
		<result property="status" column="STATUS" />
		<result property="memberNo" column="MEMBER_NO" />
		
		<collection property="orderDetailList" select="selectOrderDetailList"
					column="ORDER_NO" javaType="java.util.ArrayList"
					ofType="OrderDetail" />
	</resultMap>
	
	<!-- 주문 상세 resultMap -->
	<resultMap type="OrderDetail" id="orderDetail_rm">
		<id property="orderDetailNo" column="ORDER_DETAIL_NO"/>
		<result property="quantity" column="QUANTITY"/>
		<result property="orderNo" column="ORDER_NO"/>
		<result property="optionNo" column="OPTION_NO"/>
		<result property="productNo" column="PRODUCT_NO"/>
	</resultMap>
	
	<!-- 포인트 사용 내역 resultMap -->
	<resultMap type="PointHistory" id="history_rm">
		<id property="historyNo" column="POINT_HISTORY_NO" />
		<result property="usedDate" column="USED_DATE" />
		<result property="pointAmount" column="POINT_AMOUNT" />
		<result property="usedDetail" column="USAGE_DETAIL" />
		<result property="pointType" column="POINT_TYPE" />
		<result property="pointTypeNo" column="POINT_TYPE_NO" />
		<result property="memberNo" column="MEMBER_NO" />
	</resultMap>
	
	<resultMap type="Category" id="category_rm">
		<id property="categoryNo" column="CATEGORY_NO" />
		<result property="categoryName" column="CATEGORY_NAME" />
		<result property="parentCategoryNo" column="PARENT_CATEGORY_NO" />
	</resultMap>
	
	<!-- 특정 상품 이미지 조회 -->
	<select id="selectImageList" resultMap="image_rm">
		SELECT * FROM IMG 
		WHERE IMG_TYPE = 'PRODUCT' AND IMG_TYPE_NO = #{productNo} 
		ORDER BY IMG_LEVEL
	</select>
	
	<!-- 특정 상품 리뷰 이미지 조회 -->
	<select id="selectReviewImageList" resultMap="image_rm">
		SELECT * FROM IMG 
		WHERE IMG_TYPE = 'REVIEW' AND IMG_TYPE_NO = #{reviewNo} 
		ORDER BY IMG_LEVEL
	</select>
	
	<!-- 특정 리뷰 이미지 삭제 -->
	<delete id="deleteImage">
		DELETE FROM IMG 
		WHERE IMG_NO = #{imageNo}
	</delete>
	
	<!-- 특정 리뷰 이미지 레벨 수정 -->
	<update id="updateImageLevel">
		UPDATE IMG SET IMG_LEVEL = #{imageLevel} WHERE IMG_NO = #{imageNo}
	</update>
	
	<!-- 특정 상품 옵션 조회 -->
	<select id="selectOptionList" resultMap="businessOption_rm">
		SELECT * FROM PRODUCT_OPTION 
		WHERE PRODUCT_NO = #{productNo} 
		ORDER BY OPTION_NO
	</select>
		
	<!-- 특정 상품의 삭제되지 않은 리뷰 개수 조회 -->
	<select id="getReviewListCount" resultType="_int">
		SELECT COUNT(*) FROM REVIEW R 
		JOIN PRODUCT P ON(R.REVIEW_TYPE_NO = P.PRODUCT_NO)
		WHERE REVIEW_TYPE = 'PRODUCT'
		AND P.PRODUCT_DEL_FL = 'N'
		AND REVIEW_DEL_FL = 'N'
		<if test='key!="all"'>
			AND REVIEW_TYPE_NO = #{productNo} 
		</if>
	</select>
	
	<!-- 상품 리뷰 목록 조회 -->
	<select id="selectReviewList" resultMap="review_rm">
		SELECT R.*, 
			(SELECT MEMBER_NICK FROM "MEMBER" M 
				WHERE M.MEMBER_NO = R.MEMBER_NO) MEMBER_NICK,
			(SELECT PROFILE_IMG FROM "MEMBER" M 
				WHERE M.MEMBER_NO = R.MEMBER_NO) MEMBER_PROFILE,
			(SELECT IMG_PATH||IMG_RENAME FROM IMG I 
				WHERE I.IMG_TYPE_NO = R.REVIEW_TYPE_NO
				AND I.IMG_TYPE = 'PRODUCT' 
				AND IMG_LEVEL = 0) BUSINESS_THUMBNAIL
		FROM REVIEW R 
		JOIN PRODUCT P ON(R.REVIEW_TYPE_NO = P.PRODUCT_NO)
		WHERE REVIEW_TYPE = 'PRODUCT'
		AND P.PRODUCT_DEL_FL = 'N'
		AND REVIEW_DEL_FL = 'N'
		<if test='key!="all"'>
			AND R.REVIEW_TYPE_NO = #{productNo} 
		</if>
		ORDER BY REVIEW_NO DESC
	</select>
		
	<!-- 특정 리뷰의 답글 목록 조회 -->
	<select id="selectReviewReply" resultMap="reply_rm">
		SELECT R.*,
			(SELECT MEMBER_NICK FROM "MEMBER" M 
				WHERE M.MEMBER_NO = R.MEMBER_NO) MEMBER_NICK
		FROM REPLY R 
		JOIN REVIEW RV ON(R.REPLY_TYPE_NO = RV.REVIEW_NO)
		WHERE REPLY_TYPE = 'REVIEW'
		AND RV.REVIEW_DEL_FL = 'N'
		AND REPLY_DEL_FL = 'N'
		AND REPLY_TYPE_NO = #{reviewNo} 
		ORDER BY REPLY_NO DESC
	</select>
	
	<!-- 리뷰 삭제 -->
	<update id="deleteReview">
		UPDATE REVIEW SET REVIEW_DEL_FL = 'Y' WHERE REVIEW_NO = #{reviewNo}
	</update>
	
	<!-- 리뷰에 댓글 등록 -->
	<insert id="insertReviewReply" parameterType="Reply" useGeneratedKeys="true">
		<selectKey order="BEFORE" resultType="_int" keyProperty="replyNo">
			SELECT SEQ_REPLY_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO REPLY VALUES(#{replyNo}, DEFAULT, DEFAULT, 
		#{replyContent}, DEFAULT, 'REVIEW', #{replyTypeNo}, 
		#{memberNo}, NULL)
	</insert>
	
	<!-- 리뷰에 댓글 수정 -->
	<update id="updateReviewReply">
		UPDATE REPLY SET REPLY_CONTENT = #{replyContent} 
		WHERE REPLY_NO = #{replyNo}
	</update>
	
	<!-- 리뷰에 댓글 삭제 -->
	<update id="deleteReviewReply">
		UPDATE REPLY SET REPLY_DEL_FL = 'Y' 
		WHERE REPLY_NO = #{replyNo}
	</update>
		
	<!-- 특정 상품의 삭제되지 않은 문의 개수 조회 -->
	<select id="getReplyListCount" resultType="_int">
		SELECT COUNT(*) FROM REPLY R
		JOIN PRODUCT P ON(R.REPLY_TYPE_NO = P.PRODUCT_NO)
		JOIN COMPANY_PRODUCT CP ON(P.PRODUCT_NO = CP.PRODUCT_NO)
		WHERE REPLY_TYPE = 'PRODUCT' 
		AND R.PARENT_REPLY_NO IS NULL
		AND CP.DELIVERY_FEE IS NOT NULL
		AND P.PRODUCT_DEL_FL = 'N'
		AND R.REPLY_DEL_FL = 'N'
		<if test='key!="all"'>
			AND R.REPLY_TYPE_NO = #{productNo}
		</if>
		<if test="myQNA">
			AND R.MEMBER_NO = #{loginMemberNo}
		</if>
		<if test="notSecret">
			AND (R.SECRET_REPLY_STATUS = 'N' 
			OR R.MEMBER_NO = #{loginMemberNo})
		</if>
	</select>
	
	<!-- 특정 상품 문의 목록 조회 -->
	<select id="selectReplyList" resultMap="reply_rm">
		SELECT R.*, 
			(SELECT IMG_PATH || IMG_RENAME FROM IMG I
			WHERE I.IMG_TYPE_NO = R.REPLY_TYPE_NO AND I.IMG_LEVEL = 0
			AND I.IMG_TYPE = 'PRODUCT') THUMBNAIL,
			(SELECT MEMBER_NICK FROM "MEMBER" M 
			WHERE M.MEMBER_NO = R.MEMBER_NO) MEMBER_NICK
		FROM REPLY R 
		JOIN PRODUCT P ON(R.REPLY_TYPE_NO = P.PRODUCT_NO)
		JOIN COMPANY_PRODUCT CP ON(P.PRODUCT_NO = CP.PRODUCT_NO)
		WHERE R.REPLY_TYPE = 'PRODUCT' 
		AND R.PARENT_REPLY_NO IS NULL
		AND CP.DELIVERY_FEE IS NOT NULL
		AND P.PRODUCT_DEL_FL = 'N'
		AND R.REPLY_DEL_FL = 'N'
		<if test='key!="all"'>
			AND R.REPLY_TYPE_NO = #{productNo}
		</if>
		<if test="myQNA">
			AND R.MEMBER_NO = #{loginMemberNo}
		</if>
		<if test="notSecret">
			AND (R.SECRET_REPLY_STATUS = 'N' 
			OR R.MEMBER_NO = #{loginMemberNo})
		</if>
		ORDER BY R.REPLY_NO DESC
	</select>
	
	<!-- 문의 댓글 조회 -->
	<select id="selectReplyComment" resultMap="reply_rm">
		SELECT R.*,
			(SELECT MEMBER_NICK FROM "MEMBER" M 
			WHERE M.MEMBER_NO = R.MEMBER_NO) MEMBER_NICK
		FROM REPLY R 
		WHERE REPLY_TYPE = 'PRODUCT' 
		AND REPLY_DEL_FL = 'N'
		AND PARENT_REPLY_NO = #{replyNo} 
		ORDER BY REPLY_NO DESC
	</select>
	
	<!-- 사업자 베너 이미지 목록 조회 -->
	<select id="selectBannerList" resultMap="image_rm">
		SELECT * FROM IMG 
		WHERE IMG_TYPE_NO = 3 AND IMG_TYPE = 'AD BANNER'
	</select>
	
	<!-- 상품 목록 조회(메인 화면) -->
	<select id="selectBusinessList" resultMap="business_rm">
		SELECT P.PRODUCT_NO, P.PRODUCT_TITLE, P.READ_COUNT, 
			P.PRODUCT_PRICE, M.MEMBER_NICK, C.CATEGORY_NAME,
			(SELECT PC.CATEGORY_NAME FROM CATEGORY PC 
			WHERE C.PARENT_CATEGORY_NO = PC.CATEGORY_NO) PARENT_CATEGORY_NAME,
			(SELECT I.IMG_PATH || I.IMG_RENAME FROM	IMG I	
			WHERE I.IMG_TYPE_NO = P.PRODUCT_NO AND I.IMG_LEVEL = 0
			AND I.IMG_TYPE = 'PRODUCT') THUMBNAIL
		FROM PRODUCT P 
		LEFT JOIN COMPANY_PRODUCT CP ON(CP.PRODUCT_NO = P.PRODUCT_NO)
		LEFT JOIN "MEMBER" M ON(M.MEMBER_NO = P.MEMBER_NO)
		LEFT JOIN COMPANY COM ON(COM.MEMBER_NO = M.MEMBER_NO) 
		LEFT JOIN CATEGORY C ON(C.CATEGORY_NO = P.CATEGORY_NO)
		WHERE P.PRODUCT_DEL_FL = 'N' AND CP.DELIVERY_FEE IS NOT NULL
		AND COM.PERMISSION_FL = 'Y'
		ORDER BY
		<if test='category=="hot"'>
			P.READ_COUNT DESC,
		</if>
		P.PRODUCT_NO DESC FETCH FIRST 6 ROWS ONLY
	</select>
	
	<!-- 상품 목록 조회(조회수, 최신순, 검색) -->
	<select id="selectSearchBusinessList" resultMap="business_rm">
		SELECT P.PRODUCT_NO, P.PRODUCT_TITLE, P.READ_COUNT, 
			P.PRODUCT_PRICE, M.MEMBER_NICK, C.CATEGORY_NAME,
			(SELECT PC.CATEGORY_NAME FROM CATEGORY PC 
			WHERE C.PARENT_CATEGORY_NO = PC.CATEGORY_NO) PARENT_CATEGORY_NAME,
			(SELECT I.IMG_PATH || I.IMG_RENAME FROM IMG I	
			WHERE I.IMG_TYPE_NO = P.PRODUCT_NO AND I.IMG_LEVEL = 0
			AND I.IMG_TYPE = 'PRODUCT') THUMBNAIL
		FROM PRODUCT P
		LEFT JOIN COMPANY_PRODUCT CP ON(CP.PRODUCT_NO = P.PRODUCT_NO) 
		LEFT JOIN "MEMBER" M ON(M.MEMBER_NO = P.MEMBER_NO)
		LEFT JOIN COMPANY COM ON(COM.MEMBER_NO = M.MEMBER_NO)
		LEFT JOIN CATEGORY C ON(C.CATEGORY_NO = P.CATEGORY_NO)
		WHERE PRODUCT_DEL_FL = 'N' AND CP.DELIVERY_FEE IS NOT NULL
		AND COM.PERMISSION_FL = 'Y'
		ORDER BY
		<if test='category=="hot"'>
			P.READ_COUNT DESC,
		</if>
		PRODUCT_NO DESC
	</select>
	
	<!-- 카테고리 목록 조회 -->
	<select id="selectCategoryList" resultMap="category_rm">
		SELECT * FROM CATEGORY
	</select>
	
	<!-- 상품 판매 허가 여부 조회 -->
	<select id="selectPermissionFl" resultType="string">
		SELECT PERMISSION_FL FROM COMPANY WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 상품 등록 -->
	<insert id="insertProduct" parameterType="Business" useGeneratedKeys="true">
		<selectKey order="BEFORE" resultType="_int" keyProperty="productNo">
			SELECT SEQ_PRODUCT_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO PRODUCT VALUES(#{productNo}, #{productTitle}, 
		#{productContent}, DEFAULT, DEFAULT, #{productPrice}, 
		#{productCount}, DEFAULT, #{categoryNo}, #{memberNo})
	</insert>
	
	<!-- 상품 등록 -->
	<insert id="insertCompanyProduct">
		INSERT INTO COMPANY_PRODUCT VALUES(#{productNo}, #{deliveryFee})
	</insert>
	
	<!-- 옵션 리스트 삽입 -->
	<insert id="insertOptionList" parameterType="list">
		INSERT INTO PRODUCT_OPTION 
		SELECT SEQ_OPTION_NO.NEXTVAL, A.*
		FROM (
			<foreach collection="list" item="option" separator=" UNION ALL ">
				SELECT #{option.optionName} OPTION_NAME, 
					#{option.productNo} PRODUCT_NO 
				FROM DUAL
			</foreach>
			) A
	</insert>
	
	<!-- 제휴 문의 게시글 등록 -->
	<insert id="insertBoard" parameterType="Business" useGeneratedKeys="true">
		<selectKey order="BEFORE" resultType="_int" keyProperty="boardNo">
			SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO BOARD VALUES(#{boardNo}, #{boardTitle}, 
		#{boardContent}, DEFAULT, NULL, DEFAULT, #{memberNo})
	</insert>
	
	<!-- 제휴 문의 등록 -->
	<insert id="insertInquiry">
		INSERT INTO INQUIRY VALUES(#{boardNo}, 2, '대기', NULL, NULL)
	</insert>
	
	<!-- 사업자 상품 삭제 -->
	<update id="deleteProduct">
		UPDATE PRODUCT SET PRODUCT_DEL_FL = 'Y' 
		WHERE PRODUCT_NO = #{productNo}
	</update>
	
	<!-- 사업자 게시글 수정 -->
	<update id="updateProduct">
		UPDATE PRODUCT SET 
		PRODUCT_TITLE = #{productTitle}, 
		PRODUCT_CONTENT = #{productContent}, 
		PRODUCT_PRICE = #{productPrice}, 
		PRODUCT_COUNT = #{productCount},
		CATEGORY_NO = #{categoryNo}
		WHERE PRODUCT_NO = #{productNo}
	</update>
	
	<!-- 사업자 상품 수정 -->
	<update id="updateCompanyProduct">
		UPDATE COMPANY_PRODUCT SET DELIVERY_FEE = #{deliveryFee}
		WHERE PRODUCT_NO = #{productNo}
	</update>

	<!-- 상품 옵션 수정 -->
	<update id="updateOption">
		UPDATE PRODUCT_OPTION SET OPTION_NAME = #{optionName} 
		WHERE OPTION_NO = #{optionNo}
	</update>
	
	<!-- deleteList가 일치하는 이미지 존재 여부 확인 -->
	<select id="checkImage" resultType="_int">
		SELECT COUNT(*) FROM IMG 
		WHERE IMG_TYPE = #{imageType} 
		AND IMG_TYPE_NO = ${imageTypeNo} 
		AND IMG_LEVEL IN (${deleteList})
	</select>
	
	<!-- 이미지 삭제 -->
	<delete id="deleteBusinessImage">
		DELETE FROM IMG 
		WHERE IMG_TYPE = #{imageType} 
		AND IMG_TYPE_NO = ${imageTypeNo} 
		AND IMG_LEVEL IN (${deleteList})
	</delete>
	
	<!-- 이미지 수정 -->
	<update id="updateImage">
		UPDATE IMG SET 
		IMG_RENAME = #{imageReName}, IMG_ORIGINAL = #{imageOriginal}
		WHERE IMG_TYPE = #{imageType} AND IMG_TYPE_NO = ${imageTypeNo} 
		AND IMG_LEVEL = ${imageLevel}
	</update>
	
	<!-- 이미지 삽입 -->
	<insert id="insertImage">
		<selectKey order="BEFORE" resultType="_int" keyProperty="imageNo">
			SELECT SEQ_IMG_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO IMG VALUES(#{imageNo}, #{imageReName}, 
			#{imageOriginal}, #{imageLevel}, #{imageType}, 
			#{imageTypeNo}, #{imagePath})
	</insert>
	
	<!-- 삭제되지 않은 상품 수 조회 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM PRODUCT P
		LEFT JOIN COMPANY_PRODUCT CP ON(CP.PRODUCT_NO = P.PRODUCT_NO)
		LEFT JOIN "MEMBER" M ON(M.MEMBER_NO = P.MEMBER_NO)
		LEFT JOIN COMPANY COM ON(COM.MEMBER_NO = M.MEMBER_NO)
		WHERE CP.DELIVERY_FEE IS NOT NULL AND P.PRODUCT_DEL_FL = 'N'
		AND COM.PERMISSION_FL = 'Y'
	</select>
	
	<!-- 브랜드 상품 게시글 상세 조회 -->
	<select id="selectBusiness" resultMap="business_rm">
		SELECT P.PRODUCT_NO, P.PRODUCT_TITLE, M.MEMBER_NICK, 
			P.PRODUCT_PRICE, CP.DELIVERY_FEE, P.PRODUCT_COUNT, 
			P.PRODUCT_CONTENT, P.MEMBER_NO, P.CATEGORY_NO, 
			(SELECT PC.CATEGORY_NO FROM CATEGORY PC 
			WHERE C.PARENT_CATEGORY_NO = PC.CATEGORY_NO) PARENT_CATEGORY_NO
		FROM PRODUCT P
		LEFT JOIN "MEMBER" M ON(P.MEMBER_NO = M.MEMBER_NO) 
		LEFT JOIN COMPANY_PRODUCT CP ON(CP.PRODUCT_NO = P.PRODUCT_NO) 
		LEFT JOIN CATEGORY C ON(C.CATEGORY_NO = P.CATEGORY_NO)
		WHERE P.PRODUCT_DEL_FL = 'N'
		AND CP.DELIVERY_FEE IS NOT NULL
		AND P.PRODUCT_NO = #{productNo}
	</select>
	
	<!-- 찜하기 여부 확인 -->
	<select id="pickCheck" resultType="_int">
		SELECT COUNT(*) FROM PICK WHERE PRODUCT_NO = #{productNo} 
		AND MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 찜하기 테이블 삽입 -->
	<insert id="insertProductPick">
		INSERT INTO PICK VALUES (${memberNo}, #{productNo})
	</insert>
	
	<!-- 찜하기 테이블 삭제 -->
	<delete id="deleteProductPick">
		DELETE FROM PICK WHERE PRODUCT_NO = #{productNo} 
		AND MEMBER_NO = #{memberNo}
	</delete>
	
	<!-- 조회수 증가 -->
	<update id="updateReadCount">
		UPDATE PRODUCT SET READ_COUNT = READ_COUNT + 1 
		WHERE PRODUCT_NO = #{productNo}
	</update>
	
	<!-- 주문 내역 삽입 -->
	<insert id="insertOrder" parameterType="Order" useGeneratedKeys="true">
		<selectKey order="BEFORE" resultType="_int" keyProperty="orderNo">
			SELECT SEQ_ORDER_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO "ORDER" VALUES(#{orderNo}, #{orderAddress}, 
		NULL, DEFAULT, #{memberNo})
	</insert>
	
	<!-- 주문 상세 내역 삽입 -->
	<insert id="insertOrderDetailList" parameterType="list">
		INSERT INTO ORDER_DETAIL 
		SELECT SEQ_ORDER_DETAIL_NO.NEXTVAL, A.*
		FROM (
			<foreach collection="list" item="orderDetail" separator=" UNION ALL ">
				SELECT #{orderDetail.quantity} QUANTITY, 
					#{orderDetail.orderNo} ORDER_NO, 
					#{orderDetail.optionNo} OPTION_NO, 
					#{orderDetail.productNo} PRODUCT_NO, 
				FROM DUAL
			</foreach>
			) A
	</insert>
	
	<!-- 포인트 사용 내역 삽입 -->
	<insert id="insertPointHistory" parameterType="PointHistory" useGeneratedKeys="true">
		<selectKey order="BEFORE" resultType="_int" keyProperty="historyNo">
			SELECT SEQ_POINT_HISTORY_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO POINT_HISTORY VALUES(#{historyNo}, DEFAULT, 
		#{pointAmount}, '상품구매', 'PRODUCT', #{pointTypeNo}, 
		#{memberNo})
	</insert>
	
	<!-- 회원의 포인트 수정 -->
	<update id="updatePoint">
		UPDATE "MEMBER" SET POINT = #{point} 
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 상품 제고 수정 -->
	<update id="updateQuantity">
		UPDATE PRODUCT SET PRODUCT_COUNT = #{quantity} 
		WHERE PRODUCT_NO = #{productNo}
	</update>
	
	<!-- 포인트 사용 내역 조회 -->
	<select id="selectPointHistory" resultMap="history_rm">
		SELECT * FROM POINT_HISTORY 
		WHERE POINT_TYPE = 'PRODUCT' AND POINT_TYPE_NO = #{orderNo}
	</select>
	
	<!-- 주문 내역 조회 -->
	<select id="selectOrder" resultMap="order_rm">
		SELECT * FROM "ORDER" O
		WHERE O.MEMBER_NO = #{memberNo} AND O.ORDER_NO = #{orderNo}
		<if test="reviewNo!=-1">
			AND O.ORDER_NO = (SELECT R.ORDER_NO FROM REVIEW R
				WHERE R.REVIEW_NO = #{reviewNo})
		</if>
		<if test="reviewNo==-1">
			AND NOT EXISTS (SELECT 1 FROM REVIEW R 
				WHERE R.ORDER_NO = O.ORDER_NO)
		</if>
		ORDER BY O.ORDER_NO DESC FETCH FIRST 1 ROWS ONLY
	</select>
	
	<!-- 주문 상세 내역 조회 -->
	<select id="selectOrderDetailList" resultMap="orderDetail_rm">
		SELECT * FROM ORDER_DETAIL WHERE ORDER_NO = #{orderNo}
	</select>
	
	<!-- 리뷰 수정 시 리뷰 조회 -->
	<select id="selectReview" resultMap="review_rm">
		SELECT R.*, 
			(SELECT MEMBER_NICK FROM "MEMBER" M 
				WHERE M.MEMBER_NO = R.MEMBER_NO) MEMBER_NICK,
			(SELECT PROFILE_IMG FROM "MEMBER" M 
				WHERE M.MEMBER_NO = R.MEMBER_NO) MEMBER_PROFILE,
			(SELECT IMG_PATH||IMG_RENAME FROM IMG I 
				WHERE I.IMG_TYPE_NO = R.REVIEW_TYPE_NO
				AND I.IMG_TYPE = 'PRODUCT' 
				AND IMG_LEVEL = 0) BUSINESS_THUMBNAIL
		FROM REVIEW R 
		JOIN PRODUCT P ON(R.REVIEW_TYPE_NO = P.PRODUCT_NO)
		WHERE R.REVIEW_NO = #{reviewNo}
		AND P.PRODUCT_DEL_FL = 'N'
		AND R.REVIEW_DEL_FL = 'N'
	</select>
	
	<!-- 리뷰 수정 -->
	<update id="updateReview">
		UPDATE REVIEW SET REVIEW_CONTENT = #{reviewContent}, 
		REVIEW_STAR = #{reviewStar}, REVIEW_UPDATE_DATE = SYSDATE 
		WHERE REVIEW_NO = #{reviewNo}
	</update>
	
	<!-- 리뷰 삽입 -->
	<insert id="insertReview" parameterType="Review" useGeneratedKeys="true">
		<selectKey order="BEFORE" resultType="_int" keyProperty="reviewNo">
			SELECT SEQ_REVIEW_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO REVIEW VALUES(#{reviewNo}, #{reviewContent}, 
		#{reviewStar}, DEFAULT, NULL, DEFAULT, #{reviewType},
		#{reviewTypeNo}, #{memberNo}, #{orderNo})
	</insert>
	
	<!-- 이미지 리스트 삽입 -->
	<insert id="insertImageList" parameterType="list">
		INSERT INTO IMG SELECT SEQ_IMG_NO.NEXTVAL, A.*
		FROM (
			<foreach collection="list" item="img" separator=" UNION ALL ">
				SELECT #{img.imageReName} IMG_RENAME, 
					#{img.imageOriginal} IMG_ORIGINAL, 
					#{img.imageLevel} IMG_LEVEL, 
					#{img.imageType} IMG_TYPE, 
					#{img.imageTypeNo} IMG_TYPE_NO, 
					#{img.imagePath} IMG_PATH 
				FROM DUAL
			</foreach>
			) A
	</insert>
	
	<!-- Q&A 등록 -->
	<insert id="insertReply" parameterType="Reply" useGeneratedKeys="true">
		<selectKey order="BEFORE" resultType="_int" keyProperty="replyNo">
			SELECT SEQ_REPLY_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO REPLY VALUES(#{replyNo}, DEFAULT, DEFAULT,
		#{replyContent}, #{secretReplyStatus}, #{replyType}, 
		#{replyTypeNo}, #{memberNo},
		<if test="parentNo==0">
			NULL
		</if>
		<if test="parentNo!=0">
			#{parentNo}
		</if>
		 )
	</insert>
	
	<!-- Q&A 수정 -->
	<update id="updateReply">
		UPDATE REPLY SET REPLY_CONTENT = #{replyContent},
		SECRET_REPLY_STATUS = #{secretReplyStatus} 
		WHERE REPLY_NO = #{replyNo}
	</update>
	
	<!-- Q&A 삭제 -->
	<update id="deleteReply">
		UPDATE REPLY SET REPLY_DEL_FL = 'Y' 
		WHERE REPLY_NO = #{replyNo}
	</update>
	
	<!-- 신고 접수 -->
	<insert id="insertReport" parameterType="Report">
        INSERT INTO REPORT (
            REPORT_NO,
            REPORT_TITLE,
            REPORT_DETAIL,
            REPORT_DATE,
            REPORT_STATUS, 
            REPORT_TYPE,
            REPORT_TYPE_NO,
            MEMBER_NO,
            REPORTED_USER_NO
        ) VALUES (
            SEQ_REPORT_NO.NEXTVAL,
            #{reportTitle},
            #{reportDetail},
            DEFAULT,
            '처리중',
            #{reportType},
            #{reportTypeNo},
            #{memberNo},
            #{reportedUserNo}
        )
    </insert>
</mapper>