<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chattingMapper">
	
	<resultMap type="ChattingRoom" id="chattingRoom_rm">
	    <id property="roomNo" column="ROOM_NO" />
	
	    <result property="roomName" column="ROOM_NAME" />
	    <result property="lastMessage" column="LAST_MESSAGE" />
	    <result property="lastSendTime" column="LAST_SEND_TIME" />
	    <result property="targetNickname" column="TARGET_NICKNAME" />
	    <result property="targetProfile" column="TARGET_PROFILE" />
	    <result property="unreadCount" column="UNREAD_COUNT" />
	    <result property="maxMessageNo" column="MAX_MESSAGE_NO" />
	    <result property="ownerProfile" column="OWNER_PROFILE_IMG" />
	    <result property="ownerMemberNo" column="OWNER_MEMBER_NO" />
	</resultMap>
	
	<resultMap type="Message" id="message_rm">
	    <id property="messageNo" column="MESSAGE_NO" />
	
	    <result property="messageContent" column="MESSAGE_CONTENT" />
	    <result property="messageType" column="MESSAGE_TYPE" />
	    <result property="sendTime" column="SEND_TIME" />
	
	    <result property="senderNo" column="senderNo" />
	    <result property="chattingNo" column="ROOM_NO" />
	
	    <result property="senderNickname" column="senderNickname"/>
		<result property="senderProfile" column="senderProfile"/>
	</resultMap>
	
	<resultMap id="emoji_rm" type="ChatEmoji">
	  <id property="emojiNo" column="EMOJI_NO"/>
	  <result property="messageId" column="MESSAGE_ID"/>
	  <result property="emojiCode" column="EMOJI_CODE"/>
	  <result property="emojiType" column="EMOJI_TYPE"/>
	</resultMap>

	<!-- 채팅방 조회 -->
	<select id="getChattingList" resultMap="chattingRoom_rm">
		  SELECT 
		    R.ROOM_NO,
		    R.ROOM_NAME,
		    R.OWNER_MEMBER_NO,
		
		    -- 가장 최근 메시지 내용
		    (SELECT MESSAGE_CONTENT
		     FROM (
		         SELECT MESSAGE_CONTENT
		         FROM CHAT_MESSAGE M
		         WHERE M.ROOM_NO = R.ROOM_NO
		         ORDER BY M.MESSAGE_NO DESC
		     )
		     WHERE ROWNUM = 1) AS LAST_MESSAGE,
		
		    -- 가장 최근 메시지 시간
		    (SELECT TO_CHAR(MAX(SEND_DATE), 'YYYY.MM.DD HH24:MI') 
		     FROM CHAT_MESSAGE M 
		     WHERE M.ROOM_NO = R.ROOM_NO) AS LAST_SEND_TIME,
		
		    -- 상대방 닉네임
		    (SELECT MEMBER_NICK
		     FROM MEMBER 
		     WHERE MEMBER_NO = (
		         SELECT MEMBER_NO FROM (
		             SELECT U.MEMBER_NO 
		             FROM CHAT_ROOM_USER U 
		             WHERE U.ROOM_NO = R.ROOM_NO 
		             AND U.MEMBER_NO != #{memberNo}
		             AND R.GROUP_FL = 'N'
		         ) WHERE ROWNUM = 1
		     )
		    ) AS TARGET_NICKNAME,
		
		    -- 상대방 프로필
		    (SELECT PROFILE_IMG
		     FROM MEMBER 
		     WHERE MEMBER_NO = (
		         SELECT MEMBER_NO FROM (
		             SELECT U.MEMBER_NO 
		             FROM CHAT_ROOM_USER U 
		             WHERE U.ROOM_NO = R.ROOM_NO 
		             AND U.MEMBER_NO != #{memberNo}
		             AND R.GROUP_FL = 'N'
		         ) WHERE ROWNUM = 1
		     )
		    ) AS TARGET_PROFILE,
		
		    -- 안 읽은 메시지 수
		    NVL((
		        SELECT UNREAD_COUNT 
		        FROM CHAT_NOTIFICATION N 
		        WHERE N.MEMBER_NO = #{memberNo}
		        AND N.ROOM_NO = R.ROOM_NO
		    ), 0) AS UNREAD_COUNT,
		
		    -- 최근 메시지 번호 (정렬용)
		    (SELECT MAX(MESSAGE_NO) 
		     FROM CHAT_MESSAGE 
		     WHERE ROOM_NO = R.ROOM_NO) AS MAX_MESSAGE_NO,
		     
		     -- 채팅방 만든 사람의 프로필 이미지
		    (SELECT PROFILE_IMG 
		     FROM MEMBER 
		     WHERE MEMBER_NO = R.OWNER_MEMBER_NO) AS OWNER_PROFILE_IMG
		
		  FROM CHAT_ROOM R
		  JOIN CHAT_ROOM_USER U ON R.ROOM_NO = U.ROOM_NO
		  WHERE U.MEMBER_NO = #{memberNo}
		  AND R.ROOM_DELETED_FL = 'N'
		
		  ORDER BY MAX_MESSAGE_NO DESC NULLS LAST
		</select>
	
	<!-- 채팅내역 조회 -->
	<select id="selectMessageList" parameterType="map" resultMap="message_rm">
        SELECT 
		    CM.MESSAGE_NO,
		    CM.MESSAGE_CONTENT,
		    CM.MESSAGE_TYPE,
		    TO_CHAR(CM.SEND_DATE, 'YYYY.MM.DD HH24:MI') AS SEND_TIME,
		    CM.MEMBER_NO AS senderNo,
		    CM.ROOM_NO AS chattingNo,
		
		    M.MEMBER_NICK AS senderNickname,
		    M.PROFILE_IMG AS senderProfile
		
		FROM CHAT_MESSAGE CM
		JOIN MEMBER M ON CM.MEMBER_NO = M.MEMBER_NO
		WHERE CM.ROOM_NO = #{chattingNo}
		ORDER BY CM.MESSAGE_NO
    </select>
    
    <!-- 상대 프로필 조회 -->
    <select id="selectChatTarget" resultType="Member">
	    SELECT 
	        M.MEMBER_NO,
	        M.MEMBER_NICK,
	        M.PROFILE_IMG
	    FROM CHAT_ROOM_USER U
	    JOIN MEMBER M ON U.MEMBER_NO = M.MEMBER_NO
	    WHERE U.ROOM_NO = #{roomNo}
	    AND U.MEMBER_NO != #{loginMemberNo}
	</select>
	
	<!-- 채팅방 삭제 (삭제 플래그 'Y'로 변경) -->
	<update id="deleteRoom">
	  UPDATE CHAT_ROOM
	  SET ROOM_DELETED_FL = 'Y'
	  WHERE ROOM_NO = #{roomNo}
	</update>
	
	<!-- 채팅방 소유자 번호 조회 -->
	<select id="selectOwnerNo" resultType="int">
	  SELECT OWNER_MEMBER_NO
	  FROM CHAT_ROOM
	  WHERE ROOM_NO = #{roomNo}
	</select>
	
	<!-- 채팅방 메세지 입력 -->
	<insert id="insertMessage" parameterType="Message">
	  INSERT INTO CHAT_MESSAGE (
	    MESSAGE_NO,
	    MESSAGE_CONTENT,
	    MESSAGE_TYPE,
	    MEMBER_NO,
	    ROOM_NO,
	    MESSAGE_DEL_FL,
	    SEND_DATE
	  ) VALUES (
	    SEQ_MESSAGE_NO.NEXTVAL,
	    #{messageContent},
	    #{messageType},
	    #{senderNo},
	    #{roomNo},
	    'N',
	    SYSDATE
	  )
	</insert>
	
	<!-- 메시지 이미지 입력 -->
	<insert id="insertImageMessage" parameterType="Message">
	  <selectKey keyProperty="messageNo" resultType="int" order="BEFORE">
	    SELECT SEQ_MESSAGE_NO.NEXTVAL FROM DUAL
	  </selectKey>
	
	  INSERT INTO CHAT_MESSAGE (
	    MESSAGE_NO, MESSAGE_CONTENT, MESSAGE_TYPE,
	    MEMBER_NO, ROOM_NO, MESSAGE_DEL_FL, SEND_DATE
	  ) VALUES (
	    #{messageNo}, #{messageContent}, #{messageType},
	    #{senderNo}, #{roomNo}, 'N', SYSDATE
	  )
	</insert>
	
	<!-- 메시지 이미지 입력 -->
	<insert id="insertChatImage">
	  <selectKey keyProperty="imageNo" resultType="int" order="BEFORE">
	    SELECT SEQ_IMG_NO.NEXTVAL FROM DUAL
	  </selectKey>
	
	  INSERT INTO IMG (
	    IMG_NO, IMG_RENAME, IMG_ORIGINAL, IMG_PATH, 
	    IMG_TYPE, IMG_TYPE_NO, IMG_LEVEL
	  ) VALUES (
	    #{imageNo}, #{imageReName}, #{imageOriginal}, #{imagePath},
	    #{imageType}, #{imageTypeNo}, 0
	  )
	</insert>
	
	<!-- 큰 이모지 전체 조회 -->
	<select id="selectBigEmojiList" resultMap="emoji_rm">
	  SELECT EMOJI_NO, EMOJI_CODE, EMOJI_TYPE
	  FROM CHAT_EMOJI
	  WHERE EMOJI_TYPE = 'BIG'
	</select>
	
	<!-- 모집하기 성공시 채팅방 생성 -->
	<insert id="createGroupChatRoom" parameterType="map">
	  <selectKey keyProperty="roomNo" resultType="int" order="BEFORE">
	    SELECT SEQ_ROOM_NO.NEXTVAL FROM DUAL
	  </selectKey>
	
	  INSERT INTO CHAT_ROOM (
	    ROOM_NO,
	    ROOM_NAME,
	    GROUP_FL,
	    CREATED_DATE,
	    ROOM_DELETED_FL,
	    OWNER_MEMBER_NO
	  ) VALUES (
	    #{roomNo},
	    #{roomName},
	    'Y',         
	    SYSDATE,
	    'N',         
	    #{ownerNo}
	  )
	</insert>
	
	<!-- 채팅방 사용자등록 -->
	<insert id="insertChatRoomUser" parameterType="map">
	  INSERT INTO CHAT_ROOM_USER (
	    ROOM_NO, MEMBER_NO
	  ) VALUES (
	    #{roomNo}, #{memberNo}
	  )
	</insert>
	
	<!-- 1. 사용자 삭제 -->
	<delete id="deleteRoomUsers">
	  DELETE FROM CHAT_ROOM_USER
	  WHERE ROOM_NO = #{roomNo}
	  AND MEMBER_NO = #{memberNo}
	</delete>
	
	<!-- roomName 조회 -->
	<select id="selectBoardTitle" resultType="string">
	  SELECT BOARD_TITLE FROM BOARD WHERE BOARD_NO = #{boardNo}
	</select>
	
	<!-- roomNo 조회 -->
	<select id="selectRoomNoByRoomName" resultType="_int">
	  SELECT ROOM_NO FROM CHAT_ROOM WHERE ROOM_NAME = #{roomName}
	</select>
</mapper>
