<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="managerMapper">
	
	<!--=================== MANAGE CUSTOMER RESULTMAP =============================-->
	<!-- 고객 상태 -->
	<resultMap type="Member" id="MemberState">
		<id property="memberNo" column="MEMBER_NO"/>
	    <result property="memberId" column="MEMBER_ID"/>
	    <result property="memberPw" column="MEMBER_PW"/>
	    <result property="memberNick" column="MEMBER_NICK"/>
	    <result property="memberName" column="MEMBER_NAME"/>
	    <result property="memberAddr" column="MEMBER_ADDR"/>
	    <result property="memberTel" column="MEMBER_TEL"/>
	    <result property="profileImg" column="PROFILE_IMG"/>
	    <result property="enrollDate" column="ENROLL_DATE"/>
	    <result property="memberEmail" column="MEMBER_EMAIL"/>
	    <result property="memberDelFl" column="MEMBER_DEL_FL"/>
	    <result property="authority" column="AUTHORITY"/>
	    <result property="memberGrade" column="MEMBER_GRADE"/>
	    <result property="memberBirth" column="MEMBER_BIRTH"/>
	    <result property="point" column="POINT"/>
	</resultMap>
	
	<!-- 고객 모집글 -->
	<resultMap type="CustomerBoard" id="Cus_board"></resultMap>
	
	
	<!-- 문의 -->
	<resultMap type="QuestCustomer" id="Quest_cus">
	    <result property="boardNo" column="BOARD_NO"/>
	    <result property="profileImg" column="PROFILE_IMG"/>
	    <result property="memberNick" column="MEMBER_NICK"/>
	    <result property="boardTitle" column="BOARD_TITLE"/>
	    <result property="createDate" column="B_CREATE_DATE"/>
	    <result property="boardDelFl" column="BOARD_DEL_FL"/>		
	</resultMap>
	
	<!-- 신고 -->
	<resultMap type="Report" id="Report">
	    <id property="reportNo" column="REPORT_NO"/>
	    <result property="reportType" column="REPORT_TYPE"/>
	    <result property="memberNick" column="MEMBER_NICK"/>
	    <result property="reportedUserNick" column="REPORTED_USER_NICK"/>
	    <result property="reportTitle" column="REPORT_TITLE"/>
	    <result property="reportDate" column="REPORT_DATE"/>
	    <result property="reportStatus" column="REPORT_STATUS"/>
	</resultMap>
	
	<!-- 고객 프로필 -->
	<resultMap type="CustomerProfile" id="CustomerProfile"></resultMap>
	
	<!-- 고객 프로필 게시판 -->
	<resultMap type="CustProfileBoard" id="CustProfileBoard"></resultMap>
	<!--=================== MANAGE BRAND RESULTMAP =============================-->	
	
	
	<resultMap type="BrandBoard" id="Brand_Board"></resultMap>
	<resultMap type="LookData" id="LookData"></resultMap>
	<resultMap type="BrandProfile" id="BrandProfile"></resultMap>
	<resultMap type="BrandProfileBoard" id="BrandProfileBoard"></resultMap>
	
	<!-- ===============================  MAIN  ====================================== -->
	
	<!-- 고객 문의 수 -->
	<select id="customerQuestionCount" resultType="_int">
		SELECT COUNT(*) 
		FROM BOARD
		JOIN BOARD_TYPE USING(BOARD_CD)
		WHERE BOARD_CD = 6
	</select>
	<!-- 브랜드 제휴 문의 수 -->
	<select id="brandQuestCount" resultType="_int">
		SELECT COUNT(*) 
		FROM BOARD
		JOIN BOARD_TYPE USING(BOARD_CD)
		WHERE BOARD_CD = 8
	</select>
	<!-- 브랜드 광고 문의 수  -->
	<select id="brandAdCount" resultType="_int">
		SELECT COUNT(*) 
		FROM BOARD
		JOIN BOARD_TYPE USING(BOARD_CD)
		WHERE BOARD_CD = 7
	</select>
	
	<!--BRAND MAIN  -->
	<!-- 브랜드 상품 판매 건수 -->
	<select id="brandTotalSellCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE BOARD_CD = 2
	</select>
	
	<select id="sellingCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD 
		WHERE BOARD_CD = 2
		AND BOARD_DEL_FL = 'N'
	</select>
	
	<select id="soldCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD 
		WHERE BOARD_CD = 2
		AND BOARD_DEL_FL = 'Y'
	</select>
	
	<select id="quantityCount" resultType="_int">
		SELECT SUM(NVL(QUANTITY,0))
		FROM BOARD 
		JOIN PRODUCT USING(BOARD_NO)
		LEFT JOIN "ORDER" USING(BOARD_NO)
		WHERE BOARD_CD = 2
	</select>
	
	<!-- 미처리 제휴/ 광고 수  -->
	<select id="notPassBrandCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD WHERE BOARD_CD = ${boardCd} AND B_STATE IS NULL	
	</select>
	<!-- 개인 대상 신고 대기 수 -->
	<select id="waitCustReportCount" resultType="_int">
		SELECT COUNT(*)
		FROM REPORT R
		WHERE REPORT_STATUS IN('대기')	
	</select>

	<!-- GRAPH -->
	<!-- 그래프 7일 조회 -->
	<select id="graphWeek" resultType='Map'>
		SELECT 
			TO_CHAR(SYSDATE, 'YYMMDD') today,
			TO_CHAR(SYSDATE-1, 'YYMMDD') one,
			TO_CHAR(SYSDATE-2, 'YYMMDD') two,
			TO_CHAR(SYSDATE-3, 'YYMMDD') three,
			TO_CHAR(SYSDATE-4, 'YYMMDD') four, 
			TO_CHAR(SYSDATE-5, 'YYMMDD') five,
			TO_CHAR(SYSDATE-6, 'YYMMDD') six,
			TO_CHAR(SYSDATE-7, 'YYMMDD') seven
		FROM DUAL		
	</select>
	
	<select id="dayCount" resultType="_int">
		SELECT 
		    NVL(COUNT(M.ENROLL_DATE), 0) AS ENROLL_COUNT
		FROM 
		    (SELECT TRUNC(SYSDATE) - LEVEL + 1 AS DT 
		     FROM DUAL 
		<![CDATA[  CONNECT BY LEVEL <= 8) D ]]>
		LEFT JOIN MEMBER M 
		    ON TRUNC(M.ENROLL_DATE) = D.DT 
		    AND M.AUTHORITY = ${authority}
		GROUP BY D.DT
		ORDER BY D.DT ASC	
	</select>

	<!--====================BRAND MAIN====================-->
	<!-- 브랜드 대상 신고  -->
	<!-- 대기 수  -->
	<select id="watiCount" resultType="_int">
		SELECT COUNT(*) 
		FROM REPORT
		WHERE REPORT_STATUS ='대기'
	</select>
	<!-- 반려 수 -->
	<select id="returnCount" resultType="_int">
		SELECT COUNT(*) 
		FROM REPORT
		WHERE REPORT_STATUS ='반려'
	</select>
	<!-- 경고 수 -->
	<select id="warnCount" resultType="_int">
		SELECT COUNT(*) 
		FROM REPORT
		WHERE REPORT_STATUS ='경고'		
	</select>
	<!-- 블랙 수 -->
	<select id="blackCount" resultType="_int">
		SELECT COUNT(*) 
		FROM REPORT
		WHERE REPORT_STATUS ='블랙'	
	</select>
	
	<!-- 제휴 문의 -->
	<select id="totalApplyCount" resultType="_int">
		SELECT COUNT(*) 
		FROM BOARD
		WHERE BOARD_CD = 8
	</select>
	
	<select id="waitApplyCount" resultType="_int">
		SELECT COUNT(*) 
		FROM BOARD
		WHERE BOARD_CD = 8
		AND B_STATE IS NULL	
	</select>
	<select id="acceptApplyCount" resultType="_int">
		SELECT COUNT(*) 
		FROM BOARD
		WHERE BOARD_CD = 8
		AND B_STATE = '승인'	
	</select>
	
	<select id="refuseApplyCount" resultType="_int">
		SELECT COUNT(*) 
		FROM BOARD
		WHERE BOARD_CD = 8
		AND B_STATE = '거절'	
	</select>
	
	
	
	<!-- 광고 문의 -->
	<select id="totalPromCount" resultType="_int">
		SELECT COUNT(*)  
		FROM BOARD
		WHERE BOARD_CD = 7	
	</select>
	
	<select id="waitPromCount" resultType="_int">
		SELECT COUNT(*) 
		FROM BOARD
		WHERE BOARD_CD = 7
		AND B_STATE IS NULL	
	</select>
	
	<select id="acceptPromCount" resultType="_int">
		SELECT COUNT(*) 
		FROM BOARD
		WHERE BOARD_CD = 7
		AND B_STATE = '승인'	
	</select>
	
	<select id="refusePromCount" resultType="_int">
		SELECT COUNT(*) 
		FROM BOARD
		WHERE BOARD_CD = 7
		AND B_STATE = '거절'	
	</select>
	
	<!-- 제휴 문의 목록 5개 조회  -->
	<select id="mainApplyList" resultMap="Brand_Board">
		SELECT MEMBER_NICK BRAND_NAME, BOARD_TITLE,TO_CHAR(B_CREATE_DATE,'YYYY-MM-DD') CREATE_DATE,  NVL(B_STATE, '대기') STATE
		FROM (SELECT *
				FROM BOARD
				JOIN MEMBER USING(MEMBER_NO)
				WHERE BOARD_CD = 8
				ORDER BY B_CREATE_DATE DESC )
		WHERE ROWNUM BETWEEN 1 AND 5
	</select>
	<!-- 광고 문의 목록 5개 조회  -->	
	<select id="mainPromList" resultMap="Brand_Board">
		SELECT MEMBER_NICK BRAND_NAME, BOARD_TITLE, TO_CHAR(B_CREATE_DATE,'YYYY-MM-DD') CREATE_DATE , NVL(B_STATE, '대기') STATE
		FROM (SELECT *
				FROM BOARD
				JOIN MEMBER USING(MEMBER_NO)
				WHERE BOARD_CD = 7
				ORDER BY B_CREATE_DATE DESC )
		WHERE ROWNUM BETWEEN 1 AND 5	
	</select>
	<!--=================== MANAGE CUSTOMER =============================-->
	
	<!-- *** CUSTOMER MAIN *** -->
	<!-- 총 회원 수  -->
	<select id="customerTotalCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_DEL_FL ='N' AND AUTHORITY = 2
	</select>
	<!-- 탈퇴 회원 수 -->
	<select id="customerOutCount" resultType="_int">
		SELECT COUNT(*) FROM "MEMBER" 
		WHERE MEMBER_DEL_FL ='Y' AND AUTHORITY = 2
	</select>
	<!-- 블랙 회원 수 -->
	<select id="customerBlackCount" resultType="_int">
		SELECT COUNT(*) FROM "MEMBER" 
		WHERE MEMBER_DEL_FL ='B' AND AUTHORITY = 2
	</select>
	
	
	<!-- 성사된 모집 수-->
	<select id="GatherSuccessCount" resultType="_int">
		SELECT COUNT(*) 
		FROM BOARD B
		JOIN "MEMBER" M ON(B.MEMBER_NO= M.MEMBER_NO)
		JOIN RECRUITMENT_ROOM R ON(R.BOARD_NO = B.BOARD_NO)
		WHERE BOARD_CD  = 1
		AND RECRUITMENT_STATUS = '완료'
	</select>
	
	<!-- 취소된 모집 글 수  -->
	<select id="GatherCancelCount" resultType="_int">
		SELECT COUNT(*) 
		FROM BOARD B
		JOIN "MEMBER" M ON(B.MEMBER_NO= M.MEMBER_NO)
		JOIN RECRUITMENT_ROOM R ON(R.BOARD_NO = B.BOARD_NO)
		WHERE BOARD_CD  = 1
		AND BOARD_DEL_FL = 'Y'	
	</select>
	
	<!-- 정지된 모집글 수 -->
	<select id="GatherStopCount" resultType="_int">
		SELECT COUNT(*) 
		FROM BOARD B
		JOIN "MEMBER" M ON(B.MEMBER_NO= M.MEMBER_NO)
		JOIN RECRUITMENT_ROOM R ON(R.BOARD_NO = B.BOARD_NO)
		WHERE BOARD_CD  = 1
		AND RECRUITMENT_STATUS = '정지'
		AND BOARD_DEL_FL = 'Y'
	</select>
	
	<!-- 미처리/처리 문의 -->
	<select id="questWaitCount" resultType="_int">
		SELECT COUNT(*) 
		FROM BOARD
		WHERE BOARD_CD = 6
		AND BOARD_DEL_FL =#{fl}
	</select>
	
	<!-- 미처리/처리 고객 신고 수 -->
	<select id="customerWaitDoneReport" resultType="_int">
		SELECT COUNT(*)
		FROM REPORT R
		WHERE REPORT_TYPE IN (${customerReport})
		AND REPORT_STATUS IN(${str})
	</select>
	
	
	<!-- ** CUSTOMER MAIN END **  -->
	
	
	<!-- 고객 상태 목록 수 -->
	<select id="customerStateCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE AUTHORITY = 2
	</select>
	
	<!-- 고객 상태 목록 조회  -->
	<select id="customerStateList" resultMap="MemberState">
		SELECT MEMBER_NO, PROFILE_IMG, MEMBER_NICK, MEMBER_EMAIL, MEMBER_GRADE, 
		   TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD') ENROLL_DATE, DECODE(MEMBER_DEL_FL, 'N', '회원', 'Y','탈퇴','B','블랙') MEMBER_DEL_FL 
		FROM MEMBER
		WHERE AUTHORITY = 2
		ORDER BY MEMBER_NO DESC
	</select>
	
	<!-- 총 회원 수 조회 -->
	<select id="customerTotal" resultType="_int">
		SELECT COUNT(*) 
		FROM "MEMBER" 
		WHERE AUTHORITY = 2
		AND MEMBER_DEL_FL ='N'
	</select>
	
	<!-- 신규 회원 수 -->
	<select id="newCustomerCount" resultType='_int'>
		SELECT COUNT(*) FROM MEMBER WHERE ENROLL_DATE BETWEEN SYSDATE-7 AND SYSDATE 
		AND MEMBER_DEL_FL ='N' AND AUTHORITY = 2
	</select>
	
	<!-- 블랙, 회원, 탈퇴 -->
	<select id="CustomersSelect" resultType="map">
		SELECT MEMBER_DEL_FL , COUNT(MEMBER_NO) MEMBER_COUNT
		FROM MEMBER
		WHERE AUTHORITY = 2
		GROUP BY MEMBER_DEL_FL
	</select>
	
	<!-- 고객 모집글 목록 수 -->
	<select id="customerboardCount" resultType="_int">
		SELECT COUNT(*) 
		FROM BOARD B
		JOIN "MEMBER" M ON(B.MEMBER_NO= M.MEMBER_NO)
		JOIN RECRUITMENT_ROOM R ON(R.BOARD_NO = B.BOARD_NO)
		WHERE BOARD_CD  = 1
	</select>
	
	<!-- 고객 모집글 목록 조회 -->
	<select id="boardList" resultMap="Cus_board">
		SELECT B.BOARD_NO, MEMBER_NICK, BOARD_TITLE, TO_CHAR( B_CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE
				, TO_CHAR( REC_END_DATE, 'YYYY-MM-DD') END_DATE ,RECRUITMENT_STATUS, BOARD_DEL_FL 
		FROM BOARD B
		JOIN "MEMBER" M ON(B.MEMBER_NO= M.MEMBER_NO)
		JOIN RECRUITMENT_ROOM R ON(R.BOARD_NO = B.BOARD_NO)
		WHERE BOARD_CD  = 1
		ORDER BY B_CREATE_DATE
	</select>
	
	<!-- 총 진행중인 모집글 수  -->
	<select id="totalCustomerBoard" resultType="_int">
		SELECT COUNT(*) FROM BOARD B
		JOIN RECRUITMENT_ROOM R ON(R.BOARD_NO = B.BOARD_NO)
		WHERE BOARD_CD=1 AND BOARD_DEL_FL ='N'	
	</select>
	
	<!-- 마감, 진행, 완료 -->
	<select id="cusBoardStateCount" resultType="map">
		SELECT RECRUITMENT_STATUS, COUNT(*) COUNT FROM BOARD B
		JOIN RECRUITMENT_ROOM R ON(R.BOARD_NO = B.BOARD_NO)
		WHERE BOARD_CD=1
		GROUP BY RECRUITMENT_STATUS 	
	</select>
	
	<!-- 정지 취소 -->
	
	
	<!-- 고객 문의 상세 페이지 조회  -->
	<select id="questDetail" resultMap="Cus_board">
		SELECT BOARD_NO, BOARD_TITLE, MEMBER_NICK ,  MEMBER_NO , BOARD_CONTENT, BOARD_DEL_FL 
				,(SELECT REPLY_CONTENT FROM REPLY WHERE REPLY_TYPE=1 AND BOARD_NO = REPLY_TYPE_NO) REPLY
		FROM BOARD
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_NO = ${boardNo}
	</select>
	
	<!-- ================================================================ -->
	
	
	<!-- 고객 문의 목록 수 -->
	<select id="questListCount" resultType="_int">
		SELECT COUNT(*) 
		FROM BOARD
		WHERE BOARD_CD = 6
	</select>
	
	<!-- 고객 문의 목록 조회 -->
	<select id="questList" resultMap="Quest_cus">
		SELECT BOARD_NO, PROFILE_IMG, MEMBER_NICK , BOARD_TITLE, TO_CHAR(B_CREATE_DATE, 'YYYY-MM-DD') B_CREATE_DATE , DECODE(BOARD_DEL_FL, 'N', '대기','Y','처리 완료') BOARD_DEL_FL 
		FROM BOARD
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_CD = 6
		ORDER BY B_CREATE_DATE DESC
	</select>
	
	<!-- 고객 대상 신고 목록 개수  -->
	<select id="reportListCount" resultType="_int">
		SELECT COUNT(*)
		FROM REPORT R
		WHERE REPORT_TYPE IN (2, 3, 4, 5)	
	</select>
	
	<!-- 고객 대상 신고 목록 조회 -->
	<select id="reportSelect" resultMap="Report">
		SELECT DECODE(REPORT_TYPE,1,'브랜드 상품', 2, '모집글',3,'댓글',4,'채팅',5,'리뷰') REPORT_TYPE
			,REPORT_NO, 
			MEMBER_NICK , (SELECT MEMBER_NICK FROM MEMBER M WHERE R.REPORTED_USER_NO= M.MEMBER_NO) REPORTED_USER_NICK
			,REPORT_TITLE, TO_CHAR(REPORT_DATE, 'YYYY-MM-DD') REPORT_DATE, REPORT_STATUS 
		FROM REPORT R
		JOIN MEMBER USING(MEMBER_NO) 
		WHERE REPORT_TYPE IN (2, 3, 4, 5)
		ORDER BY REPORT_DATE DESC 
	</select>
	
	<!-- ** customer Profile ** -->
	<!-- 고객 프로필 조회 -->
	<select id="customerProfile" resultMap="CustomerProfile">
		SELECT MEMBER_NO , MEMBER_NICK, PROFILE_IMG 
		   ,DECODE(MEMBER_DEL_FL, 'N','회원', 'Y','탈퇴','B','블랙') STATE
		   ,(SELECT COUNT(*)FROM REPLY R WHERE R.MEMBER_NO = M.MEMBER_NO) REPLY_COUNT
		   ,(SELECT COUNT(*)FROM BOARD B WHERE B.MEMBER_NO = M.MEMBER_NO AND BOARD_CD=1) GETHER_COUNT
		   ,(SELECT COUNT(*)FROM "ORDER" O WHERE O.MEMBER_NO = M.MEMBER_NO) ORDER_COUNT
		   ,(SELECT COUNT(*)FROM REPORT WHERE REPORTED_USER_NO = M.MEMBER_NO AND REPORT_STATUS ='경고') WRAN_COUNT
		   ,(SELECT COUNT(*)FROM REPORT RP WHERE RP.MEMBER_NO = M.MEMBER_NO) REPORT_COUNT
		   ,(SELECT COUNT(*)FROM REPORT WHERE REPORTED_USER_NO = M.MEMBER_NO) REPORTED_COUNT
		   ,(SELECT COUNT(*)FROM BOARD B WHERE B.MEMBER_NO = M.MEMBER_NO AND BOARD_CD = 6) QUEST_COUNT
		   , MEMBER_ID
		   , MEMBER_NAME
		   , TO_CHAR(MEMBER_BIRTH,'YYYY-MM-DD') MEMBER_BIRTH
		   , TO_CHAR(ENROLL_DATE ,'YYYY-MM-DD') ENROLL_DATE
		   ,MEMBER_EMAIL 
		   , MEMBER_TEL 
		   , MEMBER_ADDR 
		FROM MEMBER M
		WHERE MEMBER_NO = ${memberNo}	
	</select>
	
	<!-- 프로필 화면 게시판 목록 수 -->
		<select id="cusProfileBoardCount" resultType="_int">
		<if test="boardCode == 0">
			SELECT COUNT(*)
			FROM BOARD B
			JOIN RECRUITMENT_ROOM R ON(R.BOARD_NO = B.BOARD_NO)
			WHERE BOARD_CD  = 1
			AND R.MEMBER_NO = ${memberNo}
		</if>
		<if test="boardCode == 1">
			SELECT COUNT(*) 
			FROM BOARD
			WHERE BOARD_CD = 6
			AND MEMBER_NO = ${memberNo}
		</if>
		<if test="boardCode == 2">
			SELECT COUNT(*)
			FROM "ORDER" O
			WHERE MEMBER_NO = ${memberNo}
		</if>
		<if test="boardCode == 3">
			SELECT COUNT(*)
			FROM REPORT 
			WHERE REPORTED_USER_NO = ${memberNo}
		</if>
		<if test="boardCode == 4">
			SELECT COUNT(*)
			FROM REPLY 
			WHERE MEMBER_NO  = ${memberNo}
		</if>
		<if test="boardCode == 5">
			SELECT COUNT(*)
			FROM REPORT 
			WHERE MEMBER_NO = ${memberNo}
			ORDER BY CREATE_DATE DESC		
		</if>

	</select>
	
	<!-- 프로필 화면에서 게시판 목록 조회 -->
	<select id="cusProfileBoardList" resultMap="CustProfileBoard">
		<if test="boardCode == 0">
			SELECT B.BOARD_NO NO, 
					BOARD_TITLE TITLE, 
					TO_CHAR( B_CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE
					,RECRUITMENT_STATUS STATE
			FROM BOARD B
			JOIN RECRUITMENT_ROOM R ON(R.BOARD_NO = B.BOARD_NO)
			WHERE BOARD_CD  = 1
			AND B.MEMBER_NO = ${memberNo}
			ORDER BY B_CREATE_DATE			
		</if>
		<if test="boardCode == 1">
			SELECT BOARD_NO NO
					, BOARD_TITLE TITLE
					, TO_CHAR(B_CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE
					, DECODE(BOARD_DEL_FL, 'N', '대기','Y','처리 완료') STATE 
			FROM BOARD
			WHERE BOARD_CD = 6
			AND MEMBER_NO = ${memberNo}
			ORDER BY B_CREATE_DATE DESC					
		</if>
		<if test="boardCode == 2">
			SELECT ORDER_NO NO
				,(SELECT BOARD_TITLE FROM BOARD B WHERE B.BOARD_NO = O.BOARD_NO) TITLE
				,(SELECT TO_CHAR(B_CREATE_DATE, 'YYYY-MM-DD') FROM BOARD B WHERE B.BOARD_NO = O.BOARD_NO) CREATE_DATE
				,QUANTITY STATE
			FROM "ORDER" O
			WHERE MEMBER_NO = ${memberNo}
			ORDER BY ORDER_NO DESC	
		</if>
		<if test="boardCode == 3">
			SELECT REPORT_NO NO
					,REPORT_TITLE TITLE 
					,TO_CHAR(REPORT_DATE, 'YYYY-MM-DD') CREATE_DATE
					,REPORT_STATUS STATE
			FROM REPORT 
			WHERE REPORTED_USER_NO = ${memberNo}
			ORDER BY REPORT_NO DESC
		</if>
		<if test="boardCode == 4">
			SELECT REPLY_NO NO 
					,SUBSTR(REPLY_CONTENT, 1 ,10) ||'...' TITLE
					,TO_CHAR(REPLY_CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE
					,SECRET_REPLY_STATUS  STATE
			FROM REPLY 
			WHERE MEMBER_NO  = ${memberNo}
			ORDER BY CREATE_DATE DESC		
		</if>
		<if test="boardCode == 5">
			SELECT REPORT_NO NO
					,REPORT_TITLE TITLE 
					,TO_CHAR(REPORT_DATE, 'YYYY-MM-DD') CREATE_DATE
					,REPORT_STATUS STATE
			FROM REPORT 
			WHERE MEMBER_NO = ${memberNo}
			ORDER BY CREATE_DATE DESC		
		</if>
		
	</select>
	
	<!-- ** customer Profile end ** -->
	
	
	
	
	<!--=================== MANAGE BRAND =============================-->
		
	<!-- 상품 수 -->
	<select id="goodsCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD 
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_CD =2	
	</select>
	
	<!-- 상품 목록 조회  -->
	<select id="goodsList" resultMap="Brand_Board">
		SELECT MEMBER_NO, BOARD_NO , MEMBER_NICK BRAND_NAME, BOARD_TITLE PRODUCT_TITLE
				, TO_CHAR(B_CREATE_DATE,'YYYY-MM-DD') CREATE_DATE
				,(SELECT PRODUCT_COUNT FROM PRODUCT P WHERE B.BOARD_NO= P.BOARD_NO)  PRODUCT_COUNT
				, DECODE(BOARD_DEL_FL,'N', '판매','Y', '종료') BOARD_DEL_FL
		FROM BOARD B
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_CD =2
		ORDER BY CREATE_DATE
	</select>
	
	<select id="goodsBoardCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD 
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_CD =2
		AND BOARD_DEL_FL ='Y'	
	</select>
	
	<select id="goodsStateCount" resultType="map">
		SELECT DECODE(BOARD_DEL_FL, 'Y', '종료','N','판매') BOARD_DEL_FL , COUNT(BOARD_NO) COUNT 
		FROM BOARD 
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_CD =2
		GROUP BY BOARD_DEL_FL 
	</select>
	
	
	<!-- 브랜드 대상 신고 수 -->
	<select id="brandReportCount" resultType='_int'>
		SELECT COUNT(*)
		FROM REPORT R
		JOIN MEMBER USING(MEMBER_NO) 
		WHERE REPORT_TYPE  = 1
	</select>
	
	<!-- 브랜드 대상 신고 목록 조회 -->
	<select id="brandReportList" resultMap='Report'>
		SELECT DECODE(REPORT_TYPE,1,'브랜드 상품', 2, '모집글',3,'댓글',4,'채팅',5,'리뷰') REPORT_TYPE
			,REPORT_NO, 
			MEMBER_NICK , (SELECT MEMBER_NICK FROM MEMBER M WHERE R.REPORTED_USER_NO= M.MEMBER_NO) REPORTED_USER_NICK
			,REPORT_TITLE, TO_CHAR(REPORT_DATE, 'YYYY-MM-DD') REPORT_DATE, REPORT_STATUS 
		FROM REPORT R
		JOIN MEMBER USING(MEMBER_NO) 
		WHERE REPORT_TYPE = 1
		ORDER BY REPORT_DATE DESC 	
	</select>	
	
	<!--제뮤 문의 수  -->
	<select id="applyCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_CD = 8
	</select>
	<!--제뮤 문의 리스트 목록 조회 -->
	<select id="applyList" resultMap="Brand_Board">
		SELECT BOARD_NO, MEMBER_NICK BRAND_NAME, BOARD_TITLE, TO_CHAR(B_CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE , NVL(B_STATE, '대기') BOARD_DEL_FL 
		FROM BOARD
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_CD = 8
		ORDER BY B_CREATE_DATE DESC
	</select>
	<!-- 제휴 문의 상태 수 -->
	<select id="applyStateCount" resultType="map">
		SELECT NVL(B_STATE, '대기') B_STATE , COUNT(*) COUNT
		FROM BOARD
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_CD = 8
		GROUP BY B_STATE
	</select>
	
	
	<!-- 광고 신청 수 -->
	<select id="promotionCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_CD = 7	
	</select>
	<!-- 광고 신청 리스트 목록 조회 -->
	<select id="promotionList" resultMap="Brand_Board">
		SELECT BOARD_NO, MEMBER_NICK BRAND_NAME, BOARD_TITLE, TO_CHAR(B_CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE , DECODE(BOARD_DEL_FL, 'N', '대기','Y','처리 완료') BOARD_DEL_FL 
		FROM BOARD
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_CD = 7
		ORDER BY B_CREATE_DATE DESC
	</select>
	<!-- 광고 신청 상태 수 -->
	<select id="promStateCount" resultType="map">
		SELECT NVL(B_STATE, '대기' ), COUNT(*) COUNT
		FROM BOARD
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_CD = 7
		GROUP BY B_STATE	
	</select>
	
	<!-- 데이터 성과 리스트 수 -->
	<select id="dataLookCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD B, PRODUCT P , MEMBER M
		WHERE B.BOARD_NO = P.BOARD_NO
		AND B.MEMBER_NO = M.MEMBER_NO
		AND BOARD_CD = 2
	</select>

	<!-- 데이터 성과 리스트 조회 -->
	<select id="dataLookList" resultMap="LookData">
		SELECT B.BOARD_NO , MEMBER_NICK BRAND_NAME, BOARD_TITLE, TO_CHAR(B_CREATE_DATE , 'YYYY-MM-DD') CREATE_DATE , READ_COUNT 
		      ,NVL((SELECT SUM(NVL(QUANTITY, 0)) FROM "ORDER" O WHERE B.BOARD_NO=O.BOARD_NO ),0) QUANTITY
		FROM BOARD B, PRODUCT P , MEMBER M
		WHERE B.BOARD_NO = P.BOARD_NO
		AND B.MEMBER_NO = M.MEMBER_NO
		AND BOARD_CD = 2
		ORDER BY QUANTITY DESC, READ_COUNT DESC 
	</select>	
	<!-- 데이터 랭크  -->
	<select id="dataRank" resultType="map">
		SELECT *
		FROM 
		(SELECT  MEMBER_NICK BRAND_NAME, BOARD_TITLE, READ_COUNT 
		      ,NVL((SELECT SUM(NVL(QUANTITY, 0)) FROM "ORDER" O WHERE B.BOARD_NO=O.BOARD_NO ),0) QUANTITY
		FROM BOARD B, PRODUCT P , MEMBER M
		WHERE B.BOARD_NO = P.BOARD_NO
		AND B.MEMBER_NO = M.MEMBER_NO
		AND BOARD_CD = 2
		ORDER BY QUANTITY DESC, READ_COUNT DESC)
		WHERE ROWNUM BETWEEN 1 AND 6	
	</select>
	
	<!-- ** BOARD PROFILE **  -->
	<!-- 브랜드 프로필 조회 -->
	<select id="brandProfileSelect" resultMap="BrandProfile">
		SELECT MEMBER_NO , MEMBER_NICK, PROFILE_IMG 
			,(SELECT DECODE(PERMISSION_FL,'N','미제휴','Y','제휴') FROM COMPANY C WHERE C.MEMBER_NO = M.MEMBER_NO ) COMPANY_STATE
		   ,DECODE(MEMBER_DEL_FL, 'N','회원', 'Y','탈퇴','B','블랙') STATE
		   ,(SELECT COUNT(*)FROM REPLY R WHERE R.MEMBER_NO = M.MEMBER_NO) REPLY_COUNT
		   ,(SELECT COUNT(*) FROM BOARD B WHERE B.MEMBER_NO= M.MEMBER_NO AND BOARD_CD=2) PRODUCT_COUNT
		   ,(SELECT COUNT(*)FROM BOARD B WHERE B.MEMBER_NO = M.MEMBER_NO AND BOARD_CD=1) GETHER_COUNT
		   ,(SELECT COUNT(*) FROM BOARD B WHERE B.MEMBER_NO= M.MEMBER_NO AND BOARD_CD=7 AND BOARD_DEL_FL ='Y') PROM_COUNT
		   ,(SELECT SUM(NVL(QUANTITY, 0)) FROM "ORDER" O, BOARD B, MEMBER M WHERE O.BOARD_NO  = B.BOARD_NO AND B.MEMBER_NO = M.MEMBER_NO AND M.MEMBER_NO = 2 ) SELL_COUNT
		   ,(SELECT COUNT(*)FROM REPORT WHERE REPORTED_USER_NO = M.MEMBER_NO AND REPORT_STATUS ='경고') WARN_COUNT
		   ,(SELECT COUNT(*)FROM REPORT RP WHERE RP.MEMBER_NO = M.MEMBER_NO) REPORT_COUNT
		   ,(SELECT COUNT(*)FROM REPORT WHERE REPORTED_USER_NO = M.MEMBER_NO) REPORTED_COUNT
		   ,(SELECT COUNT(*)FROM BOARD B WHERE B.MEMBER_NO = M.MEMBER_NO AND BOARD_CD = 6) QUEST_COUNT
		   , MEMBER_ID
		   , MEMBER_NAME
		   , TO_CHAR(MEMBER_BIRTH,'YYYY-MM-DD') MEMBER_BIRTH
		   , TO_CHAR(ENROLL_DATE ,'YYYY-MM-DD') ENROLL_DATE
		   ,MEMBER_EMAIL 
		   , MEMBER_TEL 
		   ,(SELECT TO_CHAR(BUSINESS_NO, '9999999999') FROM COMPANY C WHERE C.MEMBER_NO = M.MEMBER_NO) BUSINESS_NO
		   , (SELECT BANK_NAME FROM COMPANY C WHERE C.MEMBER_NO = M.MEMBER_NO) BANK_NAME
		   , (SELECT BANK_NO FROM COMPANY C WHERE C.MEMBER_NO = M.MEMBER_NO) BANK_NO
		   , MEMBER_ADDR 
		FROM MEMBER M
		WHERE MEMBER_NO = ${memberNo}
	</select>
	
	
	<!-- 브랜드 프로필 게시글 수 조회  -->
	<select id="brandProfileBoardCount" resultType="_int">
		<if test="boardCode==0">
			SELECT COUNT(*)
			FROM BOARD B
			WHERE BOARD_CD  = 2
			AND B.MEMBER_NO = ${memberNo}
			ORDER BY B_CREATE_DATE			
		</if>
		<if test="boardCode==1">
			SELECT COUNT(*)
			FROM BOARD
			WHERE BOARD_CD = 6
			AND MEMBER_NO = ${memberNo}
		</if>
		<if test="boardCode==2">
			SELECT COUNT(*)
			FROM BOARD B WHERE B.MEMBER_NO= ${memberNo} AND BOARD_CD=7		
		</if>
		<if test="boardCode==3">
			SELECT COUNT(*)
			FROM REPORT 
			WHERE REPORTED_USER_NO = ${memberNo}
		</if>
		<if test="boardCode==4">
			SELECT COUNT(*)
			FROM REPLY 
			WHERE MEMBER_NO  = ${memberNo}
		</if>
		<if test="boardCode==5">
			SELECT COUNT(*)
			FROM REPORT 
			WHERE MEMBER_NO = ${memberNo}
		</if>
	</select>
	
	<!-- 브랜드 프로필 게시글 조회 -->
	<select id="brandProfileProducts" resultMap="BrandProfileBoard">
		<if test="boardCode==0">
			SELECT B.BOARD_NO NO, 
					BOARD_TITLE TITLE, 
					TO_CHAR( B_CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE
					,DECODE(BOARD_DEL_FL, 'N','판매','Y','완료') STATE 
			FROM BOARD B
			WHERE BOARD_CD  = 2
			AND B.MEMBER_NO = ${memberNo}
			ORDER BY B_CREATE_DATE			
		</if>
		<if test="boardCode==1">
			SELECT BOARD_NO NO
					, BOARD_TITLE TITLE
					, TO_CHAR(B_CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE
					, DECODE(BOARD_DEL_FL, 'N', '대기','Y','처리 완료') STATE 
			FROM BOARD
			WHERE BOARD_CD = 6
			AND MEMBER_NO = ${memberNo}
			ORDER BY B_CREATE_DATE DESC
		</if>
		<if test="boardCode==2">
			SELECT BOARD_NO NO
					, BOARD_TITLE TITLE
					, TO_CHAR(B_CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE
					, NVL(B_STATE, '대기') STATE 
			FROM BOARD B WHERE B.MEMBER_NO= ${memberNo} AND BOARD_CD=7		
		</if>
		<if test="boardCode==3">
			SELECT REPORT_NO NO
					,REPORT_TITLE TITLE 
					,TO_CHAR(REPORT_DATE, 'YYYY-MM-DD') CREATE_DATE
					,REPORT_STATUS STATE
			FROM REPORT 
			WHERE REPORTED_USER_NO = ${memberNo}
			ORDER BY REPORT_NO DESC		
		</if>
		<if test="boardCode==4">
			SELECT REPLY_NO NO 
					,SUBSTR(REPLY_CONTENT, 1 ,10) ||'...' TITLE
					,TO_CHAR(REPLY_CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE
					,SECRET_REPLY_STATUS  STATE
			FROM REPLY 
			WHERE MEMBER_NO  = ${memberNo}
			ORDER BY CREATE_DATE DESC			
		</if>
		<if test="boardCode==5">
			SELECT REPORT_NO NO
					,REPORT_TITLE TITLE 
					,TO_CHAR(REPORT_DATE, 'YYYY-MM-DD') CREATE_DATE
					,REPORT_STATUS STATE
			FROM REPORT 
			WHERE MEMBER_NO = ${memberNo}
			ORDER BY CREATE_DATE DESC		
		</if>
	</select>
	<!--** BOARD PROFILE END **-->
	
	
	<!-- 신고 상세 페이지 조회 -->
	<select id="reportDetailSelect" resultType="Report">
		SELECT REPORT_NO, REPORT_TITLE, REPORT_DETAIL
				, (SELECT MEMBER_NICK FROM MEMBER M WHERE  M.MEMBER_NO = R.MEMBER_NO) MEMBER_NICK
				, MEMBER_NO 
				, DECODE(REPORT_TYPE, 1,'브랜드 상품글',2,'개인 모집글',3,'댓글',4,'채팅',5,'리뷰') REPORT_TYPE_NAME
				, REPORT_TYPE
				, REPORT_TYPE_NO
				, REPORT_M_REPLY REPLY
				, (SELECT MEMBER_NICK FROM MEMBER WHERE R.REPORTED_USER_NO = MEMBER_NO) REPORTED_USER_NICK
				, REPORTED_USER_NO 
				, REPORT_STATUS 
		FROM REPORT R
		WHERE REPORT_NO = ${reportNo}
	</select>
	
	<!-- 제휴/광고/1:1 문의 상세 페이지 조회  -->
	<select id="boardDetailSelect" resultMap="Brand_Board">
			SELECT BOARD_NO, BOARD_TITLE, MEMBER_NICK BRAND_NAME, MEMBER_NO, NVL(B_STATE, '대기') STATE, BOARD_CONTENT
					,(SELECT REPLY_CONTENT FROM REPLY WHERE REPLY_TYPE=1 AND BOARD_NO = REPLY_TYPE_NO) REPLY
			FROM BOARD
			JOIN MEMBER USING(MEMBER_NO)
			WHERE BOARD_CD = #{boardCode}
			AND BOARD_NO = #{boardNo}
	</select>
	
</mapper>
