<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="managerMapper">

	<select id="customerQuestionCount" resultType="_int">
		SELECT COUNT(*) 
		FROM BOARD
		JOIN BOARD_TYPE USING(BOARD_CD)
		WHERE BOARD_CD = 6
	</select>
	
	<select id="brandQuestCount" resultType="_int">
		SELECT COUNT(*) 
		FROM BOARD
		JOIN BOARD_TYPE USING(BOARD_CD)
		WHERE BOARD_CD = 8
	</select>
	
	<select id="brandAdCount" resultType="_int">
		SELECT COUNT(*) 
		FROM BOARD
		JOIN BOARD_TYPE USING(BOARD_CD)
		WHERE BOARD_CD = 7
	</select>

</mapper>
