/* 사이드바 스타일 */
.mypage-sidebar {
  flex-shrink: 0;
  display: flex;
  position: sticky;
  height: 100%;
  top: 20px;
  left: calc(50% - 700px);
  flex-direction: column;
  width: 160px;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1),
              0px -1px 10px rgba(0, 0, 0, 0.1),
              1px 0px 10px rgba(0, 0, 0, 0.1),
              -1px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 90000;
  margin-top: 20px;
  margin-bottom: 20px;

  overflow: hidden;
}

.mypage-sidebar a {
  display: inline-block;
  text-decoration: none;
  height: 100%;
  width: 100%;
  color: inherit;
}


/* 리스트 스타일 */
.mypage-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 사이드바 클릭 가능하게 설정 */
.mypage-sidebar ul>div {
  padding: 10px 15px;
  transition: background 0.2s ease-in-out;
}

.mypage-sidebar ul div:hover {
  background: rgba(0, 0, 0, 0.05);
}

.mypage-sidebar .main-item {
  font-size: 20px;
  font-weight: bold;
  padding: 12px 0;
  border-bottom: 1px solid rgb(187, 187, 187);
  color: black;
}

.mypage-sidebar .main-item.selected {
  background: rgba(0, 0, 0, 0.08);
}

/* 서브 항목 */
.mypage-sidebar .sub-item{
  font-size: 15px;
  font-weight: normal;
  padding: 0px 0;
  color: #555;
  overflow: hidden;
  height: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.mypage-sidebar .main-item.selected>.sub-item{
  border-top: 1px solid #ddd;
  overflow: visible;
  line-height: 15px;
  height: auto;
  padding-top: 12px;
  padding-bottom: 8px;
  
}
.mypage-sidebar .main-item.hover>.sub-item{
  border-top: 1px solid #ddd;
  overflow: visible;
  line-height: 15px;
  height: auto;
  padding-top: 12px;
  padding-bottom: 8px;
}

.sub-item.selected{
  background: rgba(0, 0, 0, 0.08);
  font-weight: bold;
  color: black;
}



/* Q&A */
.mypage-sidebar .qna {
  font-size: 14px;
  font-weight: bold;
  padding: 12px 0;
}


