@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GmarketSansMedium', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-edit-section {
    width: 800px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid green;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 40px auto;
    transform: translate(-50%, -50%);
}


.profile-title {
    color: rgba(51, 51, 51, 0.5);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.profile-card {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    background: white;
    justify-content: space-between;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile-info {
    flex-grow: 1;
    padding-left: 15px;
}

.profile-name {
    font-size: 16px;
    font-weight: bold;
}

.profile-id {
    font-size: 14px;
    color: #777;
}

.edit-btn {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
    border-radius: 5px;
}

.profile-details {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
    background: white;
    border: 1px solid #ddd;
    font-size: 14px;
}

.detail-label {
    color: rgba(51, 51, 51, 0.5);
    display: flex;
    align-items: center;
    gap: 10px;
}

.detail-edit-btn {
    padding: 5px 12px;
    border: 1px solid #28a745;
    background: white;
    color: #28a745;
    border-radius: 5px;
    cursor: pointer;
}

.detail-edit-btn:hover {
    background: #28a745;
    color: white;
}