.graph-container {
    width: 500px; /* 그래프 전체 너비 */
    margin: 20px 10px;
    display: flex;
    
}
.label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 13px;
    padding: 5px;
}



.graphArea{
    display: block;
    width: 300px;
}
.graphBar{
    height: 10px;
    border-radius: 0 5px 5px 0 ;
    background-color: red;
}
.blue{background-color: blue; margin: 3px 0}
.red{background-color: red; margin: 3px 0}



/* ------------------------------------------------------ */
.graphArea > .blue{
    width: 50%;
}
.graphArea > .red{
    width: 30%;
}