*{
    box-sizing: border-box;
    font-family: 'GmarketSansMedium';
    font-weight: bold;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
  min-width: 100vw;
  min-height: 100vh;
  background-image:linear-gradient(to top left, #3e001cc6 50%, #1f003f 100%);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html{
  min-width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


/* 메인 grid 설정 */

main{
    display: grid;
    grid-template-columns: 280px 200px 1086px;
    grid-template-rows: 100px 20px auto auto;
    grid-template-areas: 
      "sd . h . "
      "sd . . . "
      "sd . c . "
      "sd . . . "
      ;

}

/* 왼쪽 메뉴 container */
#container-side{
    width: 280px;
    height: 100%;
    grid-area: sd;
    background-color: white;
    position: fixed;
    top:0;
    left: 0;

}

/* 로고 이미지 */
#container-side img:nth-of-type(1) {
    margin: 20px 0 10px 30px;
}

/* 메뉴 */
#menu-items{
    width: 100%;
}


/* 대시보드 */
#dash-board{
    font-size: 24px;
    font-weight: bolder;
    padding: 18px 0 18px 20px;
    display: flex;
    align-items: center;
}

/* 서브 메뉴 */
.accordion {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 13px 0 13px 25px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;

  }
  
  .accordion:hover {
    background-color: #eee;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }


  /* 내용 메뉴 */
  .panel> p{
    margin-left: 28px;
    font-size: 18px;
    margin: 0;
    padding: 15px 0;
    display: flex;
    align-items: center;
  }

  /* ---------------------------------------------------------- */

  /* header 부분 */

  header{
    background-color:transparent;
    grid-area: h;

    
    width: 100vw;
  }

.head-title{
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  
}

.head-title >div:nth-child(1){
  font-size: 26px;
}

/* ------------------------------------------------------------ */
/* 여기까지만 기본 기능                                           */
/* ------------------------------------------------------------ */
  /* 본문(중앙) 영역 */
  #container-center{
    height: 100vh;
    width: 100%;
    grid-area: c;

  }


/* 왼쪽 사이드 메뉴 - 고객 관리 */
/* #menu-items > button.clicked{
    background-color: #FD499A;
    color: white;
    cursor: pointer;
    padding: 13px 0 13px 25px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
}

#menu-items > div.open-menu{
    padding: 0 18px;
    background-color: white;
    max-height: 100%;
    overflow: hidden;

} */


/* 일반적으로 많이 사용할 css */
.ch-number{
  display: grid;
  grid-template-rows: 40px 50px;
  justify-items: center;
  align-items: center;
  align-content: center;
}


.board-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
}