 /* 본문(중앙) 영역 */
 #container-center{
    /* height: 100vh;
    grid-area: c; */

    display: grid;
    grid-template-rows: 115px 380px 200px ;
    gap: 30px;
  }


  /* -------------------------------------------------------- */

/* 세 가지 카테고리 */
  .first-wrap{
    display: grid;
    grid-template-columns: 340px 480px 220px;
    gap:25px;
  }

  .first-wrap > .item{
    background-color: white;
    border-radius: 10px;
    border: 1px solid #eeeeee85;
  }
  /* 고객관리*/
  .first-wrap >.item:nth-of-type(1) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .first-wrap >.item:nth-of-type(1) > .chart-board{
    flex-basis: 30%;

    height: 90%;
    width: 100%;

  }

  .cat-name{
    border: 2px solid transparent; 
    background-image: linear-gradient(#fff, #fff), linear-gradient(to top left, #fd499a 0%, #6700cf 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
    cursor: pointer;
  }

  .cat-name:hover{
    background-image:linear-gradient(to top left, #fd499a 0%, #6700cf 100%), linear-gradient(to top left, #fd499a 0%, #6700cf 100%);
    color: white;
  }

/* 문의 개수 */
.ch-number{
  display: grid;
  grid-template-rows: 40px 50px;
  justify-items: center;
  align-items: center;
  align-content: center;
}

/* 브랜드 관리 */
.first-wrap >.item:nth-of-type(2) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.first-wrap >.item:nth-of-type(2) > .chart-board{
  flex-basis: 23%;

  height: 90%;
  width: 90%;

}

/* 홈페이지 관리 */

.first-wrap >.item:nth-of-type(3) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.first-wrap >.item:nth-of-type(3) > .chart-board{

  height: 90%;
  width: 90%;

}
  /* ------------------------------------------------------ */

  /* 그래프 분석 */
  /* second section */
  .second-wrap{
    display: grid;
    grid-template-columns: 390px 675px;
    gap: 25px;
  }

  .second-wrap >.item{
    background-color: white;
    border: 2px solid #eeeeee85;
    border-radius: 10px;
  }


  /* ------------------------------------------------------- */
  
  /* 문의 */
  /* third section */
.third-wrap{
  display: grid;
  grid-template-columns: 445px 523px;
  gap:25px;
}

.third-wrap > .item:nth-child(1){
  background-color: white;
  border: 2px solid #eeeeee85;
  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat(3, 125px);
  grid-template-rows: 45px 40px 85px;
  grid-template-areas:
  "t  t t"
  "i3c1 i3c2 i3c2"
  "i3c3 i3c5 i3c6"
  ;
  gap: 5px;
  align-items: center;
  /* justify-items: center; */
  justify-content: center;
  /* align-content: center; */
}



.que-title{
  grid-area: t;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #c0c0c085;
  /* background-image: linear-gradient(#fff, #fff), linear-gradient(to top left, #fd499a 0%, #6700cf 100%);
  background-origin: border-box;
  background-clip: content-box, border-box; */
}

.que-title >div{
  padding-left: 15px;
  padding-top: 10px ;
  font-size: 20px;
}

/* .third-wrap > .item >a{
  grid-area: a;
  justify-items: self-end;
  width: 100%;
} */

.que-title >a{
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;

  font-size:16px;
}


/* 미처리 */
.i3-chart1{grid-area:  i3c1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  color:black;
  border-bottom: 2px solid #c0c0c085;
  /* background-image: linear-gradient(#fff, #fff), linear-gradient(to top left, #fd499a 0%, #6700cf 100%);
  background-origin: border-box;
  background-clip: content-box, border-box; */
  /* border-bottom: 3px solid #512e9bc5; */
  
}
/* 처리 */
.i3-chart2{grid-area: i3c2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  color:black;
  
  border-bottom: 2px solid #c0c0c085;
  /* background-image: linear-gradient(#fff, #fff), linear-gradient(to top left, #fd499a 0%, #6700cf 100%);
  background-origin: border-box;
  background-clip: content-box, border-box; */
  /* border-bottom: 3px solid #7d0e40; */
}


.i3-chart3{grid-area: i3c3;}
.i3-chart4{grid-area: i3c4;}
.i3-chart5{grid-area: i3c5;}
.i3-chart6{grid-area: i3c6;}

.bottom-line-purple{
    border-bottom: 2px solid #c0c0c085;
  /* background-image: linear-gradient(#fff, #fff), linear-gradient(to top left, #fd499a 0%, #6700cf 100%);
  background-origin: border-box;
  background-clip: content-box, border-box; */
}
.bottom-line-pink{
    border-bottom: 2px solid #c0c0c085;
  /* background-image: linear-gradient(#fff, #fff), linear-gradient(to top left, #fd499a 0%, #6700cf 100%);
  background-origin: border-box;
  background-clip: content-box, border-box; */
}




/* -------------------------------------------------------- */
/* 신고 문의*/

.third-wrap > .item:nth-child(2){
    height: 88%;
    background-color: white;
    border: 2px solid #eeeeee85;
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 50px 110px;
    justify-content: center;
}


.report-title{
    grid-column: 1/4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #c0c0c085;
}

.report-title >a{
    text-decoration: none;
    color: black;

}

.title-name{font-size: 20px;}






.item{
    -webkit-box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.144); 
    box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.217);
    transition: 0.2s;
}


.item:hover{
    -webkit-box-shadow: 0px 2px 12px 1px rgba(88, 88, 88, 0.144); 
    box-shadow: 0px 2px 12px 1px rgba(130, 130, 130, 0.217);
    transform: translateY(-5px);
}





/* -------------------------------------------------- */
.titleArea{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#myChart2{
  padding-top: 20px;
  margin: auto;
}

