
/* 왼쪽 사이드 메뉴 - 고객 관리 */


#container-center{
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: 200px 200px 450px;
    grid-template-areas: 
    "i1 i2"
    "i1 i3"
    "i4 i4"
    ;
    gap: 25px;
}

/* 전체 아이템 요소 */
section.item-wrap{
    background-color: white;
    border-radius: 10px;
    border: 2px solid #eeeeee85;
    -webkit-box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.144); 
    box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.217);

}


.ch-number{
    display: grid;
    grid-template-rows: 40px 50px;
    justify-items: center;
    align-items: center;
    align-content: center;
}



/* 고객 규모 */
section.item-wrap:nth-of-type(1){
   grid-area: i1;
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: 135px 250px;
   gap: 5px;
   
}



.cs-top-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

.cs-top-title > div{
    margin-left: 10px;
    font-size: 24px;
}
.cs-top-title > a{
    margin-right: 10px;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.cs-top-content{
    display: flex;
    justify-content: space-evenly;
}



/* 고객 상태 리스트 */
#container-center > section:nth-child(1) > div:nth-child(2){
    display: grid;
    justify-content: center;
}

.ch-list{
    width: 100%;
    display: grid;
    grid-template-columns:102px 102px 170px 106px;
    grid-template-rows: 40px;
    justify-items: center;
    justify-content: center;
    align-items: center;

    font-size: 13px;
}

.cs-bot-title{
    font-size: 20px;
    height: 33px;
    display: flex;
    align-items: center;
}

.bottom-line{
    border-bottom: 1px solid #ccc;
}

/* 프로필 이미지 */
.ch-list > img{
    width:30px;
    height: 30px;
    object-fit: fill;
    border-radius: 50%;
}

/* --------------------------------------------------------------------------- */
section.item-wrap:nth-of-type(2){
    grid-area: i2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px 100px;
    gap: 5px;

    height: 85%;
}
section.item-wrap:nth-of-type(3){
    grid-area: i3;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px 100px;
    gap: 5px;

    height: 85%;
}
section.item-wrap:nth-of-type(4){
    grid-area: i4;
}


/* --------------------------------------------------------------------- */

/* 신고 */

.cs-bot-content{
    margin: 0 10px;
    display: grid;
    grid-template-columns: repeat(2, 479px);
    grid-template-rows: auto;
    gap: 20px;
}


.report-item{
    margin-top: 10px;
    display: grid;
    grid-template-rows: 124px 250px;
    grid-template-columns: 100%;
    gap: 10px;
}

.wrap-chart{
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: 40px 77px;
    grid-template-areas:
    "ct ct"
    "cb1 cb2";

    justify-content: center;
    gap: 5px;
}

.wrap-chart > .ch-title{
    grid-area: ct;  
    padding: 10px 0;
    text-align: center;

    border: 2px solid #FD499A; 
    border-radius: 10px;
}

.wrap-chart > .ch-number:nth-child(1){
    grid-area: cb1;
}
.wrap-chart > .ch-number:nth-child(2){
    grid-area: cb2;
}


/* 공구 모집 */
#container-center > section:nth-child(4) > div.cs-bot-content > div:nth-child(2) > div.wrap-chart > div.ch-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-line{
    border-bottom: 1px solid #ccc;
}


/* 색상 */
#container-center > section:nth-child(4) > div.cs-bot-content > div:nth-child(1) > div.cs-item > div:nth-child(1)
,#container-center > section:nth-child(4) > div.cs-bot-content > div:nth-child(2) > div.cs-item > div:nth-child(1){
color: white;
background-color: #FD499A;
border-radius: 5px;
}
