/* 왼쪽 사이드 메뉴 - 브랜드 관리 */
#menu-items > button.clicked{
    background-color: #6700CF;
    color: white;
    cursor: pointer;
    padding: 13px 0 13px 25px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
}

#menu-items > div.open-menu{
    padding: 0 18px;
    background-color: white;
    max-height: 100%;
    overflow: hidden;

}


/* ------------------------------------------------- */

#container-center{
    display: grid;
    grid-template-columns: 540px 540px;
    grid-template-rows: 145px 421px 120px;
    gap: 20px;
}


.brand-board{
    background-color: white;
    border-radius: 10px;
    border: 2px solid #eeeeee85;
    box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.217);
    transition: 0.2s;
}

.brand-board:hover{
    transform: translateY(-5px);
}



.board-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

.board-title > div{
    margin-left: 10px;
    font-size: 24px;
}

.board-title > a{
    margin-right: 10px;
    font-size: 16px;
    text-decoration: none;
    color: black;
}



/* 리스트 */

.board-list{
    margin-top: 20px;
}

.ch-list{
    width: 100%;
    display: grid;
    grid-template-columns:70px 200px 150px 95px  ;
    grid-template-rows: 40px;
    justify-items: center;
    justify-content: center;
    align-items: center;

    font-size: 13px;
}

.ch-title{
    font-size: 20px;
    height: 33px;
    display: flex;
    align-items: center;
}

.bottom-line{
    border-bottom: 1px solid #ccc;
}

/* 프로필 이미지 */
.ch-list > img{
    width:30px;
    height: 30px;
    object-fit: fill;
    border-radius: 50%;
}



/* 제휴신청 */

#container-center > section:nth-child(3) > div.board-list > div:nth-child(1), #container-center > section:nth-child(4) > div.board-list > div:nth-child(1){
    background-color: #6700CF;
    color: white;
    border-radius: 5px;
}

.board-onecard{
    font-size: 30px;
}

#container-center > section:nth-child(5){
    display: flex;
    align-items: center;
    justify-content: space-around;
}