/* 모달 기본 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}

.modalActive{
    display: flex;
    justify-content: center;
    align-items: center;

}

/* 모달 내용 */
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    position: relative;
    width:984px;
}

/* 닫기 버튼 */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.clickList{
    cursor: pointer;
}

.clickList:hover{
    text-decoration: underline;
    color: rgb(0, 0, 69);
}




/* ---------------------------------------------------------- */
.modalInner{
    background-color: #FFE9F3;
    padding: 20px 20px 0px 20px;
    border-radius: 10px;
}


/* 위 */
.modalTop{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
}
.modalTitle{margin-left: 10px; width: 700px; text-align: left; font-weight: normal;}
.modalTitle>strong{margin-right: 5px; font-size: 18px;}
.memberName{font-weight: normal; margin-right: 10px; }
.memberName>strong{margin-right: 5px; font-size: 18px;}

/* 위 = 신고 */
.modalReport{margin-left: 10px; width: 390px; text-align: left; font-weight: normal;}
.modal-submit{margin:0  10px}
.modalSubmit{
    width: 85px;
    padding: 5px 0 5px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* 중간 */
.modalMid{padding: 20px 0;}
.modalMid >div:nth-of-type(1){
    text-align: left; 
    margin: 0 0 10px 10px;
    font-size: 20px;
}
.modalMid >.customerText{
    height: 278px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    padding: 15px 20px;
    font-weight: normal;
    resize: none;
    border: none ;
}


/* 중간 버튼 */
.midBtn > input{
    display: none;
}




/* .modalBottom{padding:  20px 0;} */
.modalBottom >div:nth-of-type(1){
    text-align: left; 
    margin: 0 0 10px 10px;
    font-size: 20px;
}
.modalBottom >.managerText{
    height: 250px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    padding: 15px 20px;
    font-weight: normal;
    resize: none;
    border: none ;
}

/* 신고 */
.managerReportText{
    height: 200px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    padding: 15px 20px;
    font-weight: normal;
    resize: none;
    border: none ;
}



.modal-btn{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.midBtn{
    padding:10px 0 15px 10px;
}
.modal-btn > button, .midBtn > button{
    background-color: #FD499A;
    border: none;
    color: white;
    padding:  5px 35px;
    border-radius: 5px;
    cursor: pointer;
}
.modal-btn > button:hover{
    filter: brightness(90%);
}



/* 브랜드 */
.brandInner{background-color: #d3beff;}
.barndSubmit{border-radius: 3px solid #6700CF!important;}
.barndBtn > button{background-color: #6700CF; }