@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GmarketSansMedium', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* 전체 컨테이너 */
.verification-container {
    width: 640px;
    height: 800px;
    background: white;
    padding: 40px;
    border-radius: 12px;
    margin: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* 공구 인증 폼 제목 */
.verification-title {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(to bottom, transparent 35%, #f8df9e 50%);
    display: inline-block;
    padding: 5px;
    position: absolute;
    top: 20px;
    left: 20px;
}

/* 인증 섹션 공통 */
.verification-section {
    text-align: center;
    width: 80%;
    margin-top: 20px;
}

/* 공구 인증 QR */
.section-label {
    font-size: 16px;
    font-weight: bold;
    color: gray;
    display: block;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 5px;
}

.qr-box {
    width: 100%;
    height: 300px;
    background: #f3f3f3;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: gray;
}

/* 운송장 입력 */
.tracking-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
}

/* 날짜 입력 */
.date-section {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}

.date-box {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.date-label {
    font-size: 14px;
    color: gray;
    margin-bottom: 5px;
}

.date-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

/* 인증 등록 버튼 */
.register-btn {
    width: 60%;
    background: #ffcc00;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
}

.register-btn:hover {
    background: #e6b800;
}