@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GmarketSansMedium', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* 정산 완료 컨테이너 */
.settlement-complete-container {
    width: 500px; /* 너비 조정 */
    height: 620px; /* 높이 조정 */
    background: white;
    padding: 50px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 40px auto;
    border: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 내용 중앙 정렬 */
    align-items: center;
}


/* 정산 완료 타이틀 */
.settlement-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    padding: 5px 10px;
    background: linear-gradient(to bottom, transparent 35%, #f8df9e 50%); /* 위쪽 20%는 투명 */    display: inline-block; /* 배경을 텍스트 크기에 맞추기 */
    border-radius: 10px; /* 약간 둥글게 */
}

/* 메시지 */
.settlement-message {
    font-size: 30px;
    color: black;
    margin: 40px;
    margin-bottom: 240px; /* 버튼과의 간격을 크게 */
}

/* 상세정보 보기 버튼 */
.details-btn {
    background: #ffcc00;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.details-btn:hover {
    background: #e6b800;
}