
#menu-items > button.clicked{
    background-color: #6700CF;
    color: white;
    cursor: pointer;
    padding: 13px 0 13px 25px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
}

#menu-items > div.open-menu{
    padding: 0 18px;
    background-color: white;
    max-height: 100%;
    overflow: hidden;

}

#container-center{
    display: grid;
    grid-template-columns: 700px 400px;
    grid-template-rows: 136px 605px;
    grid-template-areas: 
    "li c"
    "li g"
    ;

    gap: 25px;
}

.cus-board{
    background-color: white;
    border-radius: 10px;
    border: 2px solid #eeeeee85;
    -webkit-box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.144); 
    box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.217);

}
.mainBoard{
    min-height: 550px;
    max-height: 550px;
    position: relative;
}
.list-card{grid-area: li;}
.count-card{grid-area: c;}
.graph-card{grid-area: g;}


/* ---------------------------------------------------------------- */

.board-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 5px 20px;
}
.title{
    font-size: 24px;
}

.bottom-line{
    border-bottom: 1px solid #ccc;
}


/* ------------------------------------------------------------------ */
/* 고객 상태 리스트 */

/* 리스트 내역 */


#list-area{
    margin-top: 5px;
    display: grid;
    justify-content: center;
}

.list{
    display: grid;
    grid-template-columns: 80px 120px 310px 100px 65px;
    grid-template-rows: auto;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.list >img{
    width:30px;
    height: 30px;
    border-radius: 50%;
}

#list-area >.item{
    font-size: 13px;
}


#list-area > div:nth-child(1){
    background-color: #6700CF;
    color: white;
    border-radius: 5px;
    padding-top: 13px;
}



/* ------------------------------------------------------------------ */
/* 현재 총 회원 수 */

.customer-count{
    padding: 35px 0 0 0 ;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.count{
    position: absolute;
    right: 30px;
    top: 10px;
    
}

/* 게이지 바 */
#progressBar{
    width: 87%;
}



/* ---------------------------------------------------------------- */

/* 페이지네이션 */
#pagination{
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 13px;

    position: absolute;
    right: 0;
    left: 0;
    bottom:0;

}

#pagination >li{
    margin: 5px 10px;
    font-weight: normal;
}

.curr{
   color:#6700CF;
   font-weight: bold;
}

#pagination >li>a{
    color: black;
    text-decoration: none;
}
/* ---------------------------------------------------------------- */

/* 고객 규모 그래프 */

#container-center > section.cus-board.graph-card{
    height: 400px;
}

/* -------------------------------------------------------------------- */
/* 광고 신청 색 */
#menu-items > div.open-menu > a:nth-child(4){
    color:#6700CF;
}
