#menu-items > button.clicked{
    background: black;
    color: white;
    cursor: pointer;
    padding: 13px 0 13px 25px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
}

#menu-items > div.open-menu{
    padding: 0 18px;
    background-color: white;
    max-height: 100%;
    overflow: hidden;

}

.dev-board > h2, .dev-board>h3{
    color: white;
}

.topBannerArea{
    display: flex;
    flex-wrap: wrap;
}
.topBannerArea>.bannerItem{
    background-color: #aaa7a7;
    border-radius: 10px;
    width: 512px;
    height: 238.56px;
    margin: 10px;

    border: 2px solid rgba(42, 42, 42, 0.694);
}
.topBannerArea > input{
    display: none;
}



.MidBannerArea > .bannerItem{
    background-color: #aaa7a7;
    border-radius: 10px;
    width: 100%;
    height: 238.56px;
    margin: 10px;

    border: 2px solid rgba(42, 42, 42, 0.694);
}
.MidBannerArea > input{display: none;}


.bottomBannerArea{
    display: flex;
    flex-wrap: wrap;
}
.bottomBannerArea >.bannerItem{
    background-color: #aaa7a7;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: 10px;

    border: 2px solid rgba(42, 42, 42, 0.694);   
}
.bottomBannerArea > input{display: none;}



.btnArea{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.btnArea > button{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: black;
    color: white;
    padding: 10px 40px;
    
}