*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

/* 해더 */
.order-header{
    max-width: 100%;
    font-size: 30px;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 50;
}

.header-up{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: white;
}

.header-up>*{
    min-width: 150px;
}

.header-up>a{
    display: flex;
    align-items: center;
}

.header-up>a>img{
    height: 50px;
}

.header-up>span{
    text-align: center;
}

.header-up>a:last-child,.header-up>i{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.header-down>span{
    min-width: 450px;
    height: 75px;
    background-color: #9969ff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

main{
    margin:0 auto 50px auto;
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
}

/* 왼쪽 내용 */
.content-left{
    margin-right: 50px;
    min-width: 500px;
}

.content-left>div{
    padding-bottom: 25px;
    border-bottom: 3px solid #9969ff;
}

/* 제목 */
.title-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 25px 0;
}

.title-area>h3{
    color: #9969ff;
    font-size: 26px;
}

.title-area>div{
    display: flex;
    align-items: center;
}

.title-area>div>img{
    width: 100px;
    margin-right: 10px;
}

.title-area>div>span{
    font-size: 26px;
    background-image: linear-gradient(to right, #9969ff, #ff54a1);
    -webkit-background-clip: text;
    color: transparent;
}

/* 행 단위 스타일 지정 */
.content-row{
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom : 2px solid #ddd;
}

.content-row > * {
    font-size: 20px;
    font-weight: bold;
}

/* 행 내부 input 태그 */
.content-row > input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-weight: normal;
}

.violet-color{
    color: #9969ff;
}

.minus{
    color: #ff54a1;
}

.content-row>img{
    width: 50px;
    height: 50px;
    margin-bottom: 1px;
    border: 1px solid #ddd;
}

/* 내부 input 요소 focus 시 */
.content-row:focus-within{ 
    border-bottom-color: #9969ff;
}

/* 버튼 스타일 */
.btn{
    border: none;
    border-radius: 5px;
    background-color: #9969ff;
    color: white;
    width: 100px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover{
    background-color: #ff54a1;
    color: white;
}

/* 주소 영역 */
.address-area .content-row{
    position: relative;
}

.address-area .content-row>.btn{
    position: absolute;
    right: 0;
}

/* 오른쪽 내용 */
.content-right{
    width: 300px;
    height: 200px;
    padding: 20px;
    margin-top: 50px;

    position: sticky;
    top: 150px;

    border-radius: 10px;
    background-color: #f0f0f0;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-right>span:nth-child(2){
    text-align: right;
}

.content-right>button{
    height: 40px;
    font-weight: bold;
    color: white;
    background-color: #9969ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.content-right>button:hover{
    background-color: #ff54a1;
}

.content-box{
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-width: 800px;
}

.small{
    font-size: 10px;
    color: #999999;
}

.delivery{
    display: flex;
    flex-direction: column;
}

.delivery>span:last-child{
    margin-top: 15px;
}

.title{
    margin: 25px 0;
}

.business-title{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.business-title>div{
    display: flex;
    flex-direction: column;
}

.business-title>div>span:first-child{
    font-weight: bold;
    font-size: 20px;
}

.business-title>button{
    background-color: white;
    border: 1px solid #999;
    border-radius: 10px;
    width: 75px;
    cursor: pointer;
}

.business-title>button:hover{
    background-color: #9969ff;
    color: white;
    border: none;
}

.option-area{
    display: flex;
    margin-top: 10px;
}

.option-area>img{
    width: 75px;
    height: 75px;
    margin-right: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.option-area>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total-price{
    color: #9969ff;
    display: flex;
    justify-content: space-between;
}

.price-area{
    display: flex;
    justify-content: space-between;
    border-left: 3px solid #ddd;
    margin-top: 10px;
    padding-left: 10px;
    color: #999999;
}

.price-area>div{
    display: flex;
    flex-direction: column;
}