@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GmarketSansMedium', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 1086px;
}

/* 배너 (이미지 적용) */
.banner img {
    width: 1086px;
    height: 506px;
    margin-top: 40px;
    border-radius: 20px;
    display: block;
    margin-bottom: 20px;
}

/* 섹션 제목 */
.section-title {
    font-size: 20px;
    color: hotpink;
    margin: 20px 0;
}

/* 상품 그리드 */
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

/* NEW 공동구매 (광고 1개 + 상품 2개) */
.new-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    gap: 15px;
    align-items: center;
}
.new2-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 15px;
    align-items: center;
}

/* 상품 스타일 */
.product {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 15px;
}

.product img {
    width: 235px;
    height: 313px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product img:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.product-name {
    font-size: 16px;
    margin: 10px 0;
}

.price {
    color: red;
    font-weight: bold;
}

.buy-btn {
    background: hotpink;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.buy-btn:hover {
    background: purple;
}

/* NEW 배너 */
.new-banner img {
    width: 100%;
    border-radius: 10px;
}

/* 광고 배너 (전체 가로 길게) */
.ad-banner {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

/* 광고 배너 내부 이미지 맞춤 */
.ad-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}