<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myProfileEdit</title>
    <link rel="stylesheet" href="../../../../resources/css/my_info/myProfileEdit.css">

</head>

<body>
    
    <main >
        <section class="profile-edit-section">
            <h2 class="profile-title">기본정보</h2>
            <div class="profile-card">
                <img src="tomato.png" alt="프로필 이미지" class="profile-img">
                <div class="profile-info">
                    <p class="profile-name">홍길동</p>
                    <p class="profile-id">kkh0101</p>
                </div>
                <button class="edit-btn">실명 수정</button>
            </div>
            
            <div class="profile-details">
                <div class="profile-item">
                    <span class="detail-label">📱 +82 10-3***-3***</span>
                    <button class="detail-edit-btn">수정</button>
                </div>
                <div class="profile-item">
                    <span class="detail-label">✉️ kkh01@kh.or.kr</span>
                    <button class="detail-edit-btn">수정</button>
                </div>
                <div class="profile-item">
                    <span class="detail-label">💼 09에 미친 사람</span>
                    <button class="detail-edit-btn">수정</button>
                </div>
                <div class="profile-item">
                    <span class="detail-label">📍 서울 논현</span>
                    <button class="detail-edit-btn">수정</button>
                </div>
                <div class="profile-item">
                    <span class="detail-label">🔒 비밀번호</span>
                    <button class="detail-edit-btn">수정</button>
                </div>
            </div>
        </section>
    </main>

    
</body>

</html>