<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias type="edu.kh.project.member.model.dto.Member"
			alias="Member" />
		<typeAlias type="edu.kh.project.individual.dto.Recruitment"
			alias="RecruitmentRoomDTO" />
	</typeAliases>
	
	<mappers>

		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/ajax-mapper.xml" />
		<mapper resource="/mappers/recruitmentMapper.xml" />

	</mappers>

</configuration>
	
	